[2020-08-30 01:57] #709 closed

[2020-08-30 02:00] YumaNK commented on #709
I understood the link is for textbook website so that correct behavior in jupyter is not expected.

[2020-08-30 04:20] immaryw opened #710 "wrong table about superdense coding (chapter 3.3)"
**Describe the issue**

In chapter 3.3 superdense coding - **2.3 step 3**, the last row of the table is wrong.

According to step 2, Bob receives |10> - |01>, which becomes |10> - |11> after CNOT, but the final result (|11>) is correct.

**Describe what you expect to see**

The last row of that table should be "|10> - |01>, |10> - |11>, |11>".

<img width="441" alt="qk" src="https://user-images.gi

[2020-08-30 09:24] rochisha0 commented on #710
Actually, |01> - |10> and |10> -|11> represent the same thing because they differ by only a global phase. Though I do think they should change that cause it might be confusing to beginners.

[2020-08-31 13:40] AnDa-creator commented on #695
Hello frank, the solutions are pretty good. I have found small issues and suggestions and have noted them here:
[https://docs.google.com/document/d/15a0dxxgZnBLz_hby1uSKYz8zI3gkPmb9zt9614THtxc/edit?usp=sharing](url)
Also I am writing it here directly too:
**Chapter: single qubit gates**
_Quick Exercises 1 :_
Q4: Can represent in polar coords than bloch coords
_Quick Exercises 3:_
Q3: got this erro

[2020-09-01 19:42] wmurphy-collabstar opened #714 "Inconsistency with Quantum Teleportation circuit from chapter 3.1 and 3.2"
**Describe the issue**
Right now, in chapter 3.1, the quantum teleportation circuit shown in section 3. Example: Quantum Teleportation applies the Z gate and then the X gate on the third qubit after measuring the first two qubits. Whereas in chapter 3.2, the quantum teleportation circuit applies the X gate and then the Z gate, the exact flip. The circuit in chapter 3.2 is the correct version of th

[2020-09-02 03:44] 3yakuya commented on #708
Hello,
The state does appear to be called a Bell state, though without background information how such states came to be.

What do you think would be the best way to elaborate here? Historical note, explaining that there are 4 such states, or something entirely else?

This explanation seems friendly and easy to me, but it may be entirely because I am familiar with the topic, so I am very curious t

[2020-09-02 03:53] Hirmay commented on #714
I think you're correct, the picture in section 3 of chapter 3.1 should be changed with the picture in chapter 3.2.

[2020-09-02 05:06] Hirmay commented on #708
I want to add a suggestion that you can also add rotational invariance of Bell's states and also show it mathematically. If you need any help, I would love to contribute to this topic.

[2020-09-02 06:44] #710 closed

[2020-09-02 07:08] #714 closed

[2020-09-02 10:55] frankharkins commented on #665
@kitaev-chen do you believe the changes made are sufficient to close this issue? You can check out the updated version on the live site: https://qiskit.org/textbook/ch-algorithms/grover.html

[2020-09-02 10:58] frankharkins commented on #655
@aditya-giri @Hirmay some of the questions have been updated as part of a review of the Grover chapter, I would appreciate feedback on this as I tried to take your comments into account when re-writing the problems. https://qiskit.org/textbook/ch-algorithms/grover.html

[2020-09-02 10:58] #698 closed

[2020-09-02 11:25] Hirmay commented on #655
You have done a fantastic job where the questions are significantly better than the ones that were asked before. I have two more suggestions not just for Grover's algorithm but in general,
One is can we add more questions on the theoretical side like the one I mentioned which was "Consider the case where N/4 elements are marked instead of just one. If we run one iteration of Grover's algorithm and

[2020-09-02 12:24] aditya-giri commented on #655
Love the new questions - the sudoku is very cool!

[2020-09-02 13:05] frankharkins commented on #655
@Hirmay that sounds good! Do you want to add those and make a PR?

[2020-09-02 14:03] rochisha0 commented on #708
@3yakuya It is a very nice explanation, but I think it is important to introduce the Bell's state and how they are created (using H and CNOT gates) in the section.

[2020-09-02 14:07] rochisha0 commented on #708
@Hirmay, rotational invariance may be an important property but I do not find it's usage while reading the other parts of textbook

[2020-09-02 14:09] 3yakuya commented on #708
Ok I see, thanks both!

I think the first Bell State is indeed shown to be created with H and CNOT gates, but I understand you'd like to see it for all states/as a more general explanation of how any of the Bell states can be created this way? Perhaps GHZ states, or at least a reference to them, could also be useful...

I think the best way to resolve it would be for you to contribute the parts yo

[2020-09-02 14:10] 3yakuya commented on #708
Ok I see, thanks both!

I think the first Bell State is indeed shown to be created with H and CNOT gates, but I understand you'd like to see it for all states/as a more general explanation of how any of the Bell states can be created this way? Perhaps GHZ states, or at least a reference to them, could also be useful...

I think the best way to resolve it would be for you to contribute the parts yo

[2020-09-02 14:12] rochisha0 commented on #708
Yes, I'll open a PR. Thanks.

[2020-09-02 15:41] wmurphy-collabstar commented on #714
Actually, I found another small typo in the Quantum Teleportation Circuit in chapter 3.1. The labelling of the classical registers is flipped. Should I address it here or create a new issue?

[2020-09-02 16:33] dhruvbhq opened #719 "(Ch 1.4) Measuring in Different Bases: Explanation could be improved for first time readers"
**Is your feature request related to a problem? Please describe.**
https://qiskit.org/textbook/ch-states/single-qubit-gates.html
Hi, I was reading the section _1.4 Single Qubit Gates_, and I think that the explanations for _Digression: Measuring in Different Bases_ and _Digression: The X, Y & Z-Bases_ quickly introduce some concepts related to bases which might not be immediately apparent to the f

[2020-09-02 17:06] Hirmay commented on #655
I'll have to PR the entire textbook right as I was thinking we can implement those two suggestions in many sections of the textbook or do you want me to just do a PR on Grover's part for now?

[2020-09-02 17:27] wmurphy-collabstar opened #721 "Typo in the quantum teleportation circuit in chapter 3.1"
**Describe the issue**
In the last part of the circuit, when the X gate and then the Z gate are applied to the third qubit, the classical registers are labelled 'z_meas' where the X gate is applied and 'x_meas' where the Z gate is applied.
**Describe what you expect to see**
I expect to see the names of the classical registers flipped so that the X gate corresponds to the x_meas register and the Z

[2020-09-02 18:12] aditya-giri commented on #655
I think it makes more sense to start with Grover's and take the others incrementally...

[2020-09-03 05:38] paniash commented on #721
@wmurphy-collabstar Thank you for pointing this out. I have made the changes and will make a PR for it.

[2020-09-03 12:57] frankharkins commented on #482
Closing as the code snippets are now explained in the environment setup guide.

[2020-09-03 12:57] #482 closed

[2020-09-03 12:59] #472 closed

[2020-09-03 15:40] SivaKarthickb opened #726 "No module named 'numexpr'"
**Describe the bug**
I am facing ModuleNotFoundError when I executed the second cell in "The Atoms of Computation" section of the Qiskit textbook.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://qiskit.org/textbook/ch-states/atoms-computation.html'
2. Run the code cell above the title: `Splitting information into bits`
3. Scroll down to 'https://qiskit.org/textbook/ch-states/a

[2020-09-04 09:40] frankharkins commented on #726
@SivaKarthickb I think I might have fixed this since you posted the issue. Can you please check if you have the same problem now?

[2020-09-04 10:04] frankharkins commented on #655
@Hirmay yes let's stick with Grover for now

[2020-09-04 10:14] frankharkins commented on #383
I am closing this due to inactivity, and as teleportation chapter has undergone changes since this issue was raised. You are welcome to re-open this issue or create a new one.

[2020-09-04 10:14] #383 closed

[2020-09-04 10:15] frankharkins commented on #338
closed via #439

[2020-09-04 10:15] #338 closed

[2020-09-04 13:32] Hirmay commented on #655
Okay so I'll just prepare some questions(like 3-4) for Grover's algorithm and later we can incorporate them into interactive MCQs / quizzes form.

[2020-09-04 15:30] wmurphy-collabstar commented on #721
Thank you very much @paniash

[2020-09-04 17:38] paniash opened #728 "Ch 1.4 Measurement of a qubit in various bases"
**Is your feature request related to a problem? Please describe.**
The section on measurement of a qubit in various other bases is not very clear to novice readers. For example, the measurement along the X basis is shown to be a simple measurement sandwiched between two Hadamard gates. This can be confusing to some as the act of doing a measurement destroys the superposition and hence renders the

[2020-09-04 17:41] paniash commented on #728
I'm willing to make the required changes.

[2020-09-05 07:02] SivaKarthickb commented on #726
@frankharkins Now it's working. Thank you.
![image](https://user-images.githubusercontent.com/41999143/92299865-e75b0180-ef73-11ea-8e70-409e5c84a778.png)

[2020-09-05 07:02] #726 closed

[2020-09-06 05:22] YumaNK opened #731 ""not invertible" might be misleading in measurement-error-mitigation"
**Describe the issue**
In the chapter of measurement-error-mitigation, there is phrase "This time we find a more interesting matrix, and one that is not invertible."

If one read it in straightforward way,  "not invertible" will be understood that the matrix does not have inverse matrix.
However, this matrix do have inverse matrix as its determinant is not zero.

Considering the context, one may i

[2020-09-06 05:32] YumaNK opened #732 "|00⟩+|11> is not mapped (1,0,0,1) but (0,1,1,0) in measurement-error-mitigation"
**Describe the issue**
the measurement count of  (1/√2 ) (|00⟩+|11>) in 10000 shots is expected to be {00: 5000, 11: 5000} and should be mapped column vector as (5000, 0, 0, 5000)^T.

However, in textbook this quantum state is mapped to column vector (0, 5000, 5000, 0)^T.

![image](https://user-images.githubusercontent.com/19603134/92318884-57898600-f04d-11ea-9cdb-4a32a147a562.png)

**Describe wha

[2020-09-06 07:07] #728 closed

[2020-09-07 16:35] johannesgreiner opened #733 "missing library when opening Shor's Algorithm in IBM Quantum Experience"
**Describe the bug**
following https://quantum-computing.ibm.com/jupyter/user/qiskit-textbook/content/ch-algorithms/shor.ipynb
and running the first cell returns a missing library error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://qiskit.org/textbook/ch-algorithms/shor.html
2. Click on 'Open in IBM Quantum Experience'
3. run first cell
4. See error

**Expected behavior**
mod

[2020-09-08 07:07] rupeshknn commented on #700
![image](https://user-images.githubusercontent.com/33568503/92444104-0a81ed00-f1d0-11ea-9cde-36d8afdac6f4.png)
The issue exists even in the online textbook

[2020-09-09 09:57] frankharkins commented on #663
I am closing this and adding it to a project board [here](https://github.com/qiskit-community/qiskit-textbook/projects/3).

[2020-09-09 09:57] #663 closed

[2020-09-09 09:58] frankharkins commented on #653
@bytesalad to keep the issues organised, I am closing this and adding it to a project board [here](https://github.com/qiskit-community/qiskit-textbook/projects/3). How are you getting along?

[2020-09-09 09:58] #653 closed

[2020-09-09 09:58] frankharkins commented on #647
I am closing this and adding it to a project board [here](https://github.com/qiskit-community/qiskit-textbook/projects/3).

[2020-09-09 09:58] #647 closed

[2020-09-09 10:00] frankharkins commented on #490
@ArenaGrenade do you feel the content covered in the new density matrices chapter is sufficient to close this issue?

[2020-09-09 10:05] frankharkins commented on #630
@Aniruddha120 how is this going? In attempt to reorganise the issues I am closing this and adding it to a porject board [here](https://github.com/qiskit-community/qiskit-textbook/projects/3).

[2020-09-09 10:05] #630 closed

[2020-09-09 10:07] frankharkins commented on #8
I am closing this as I believe the chapters initially suggested are either merged or have a PR in progress.

[2020-09-09 10:07] #8 closed

[2020-09-09 10:27] Hirmay commented on #647
Yeah, I think that would be better.

[2020-09-09 11:04] frankharkins commented on #685
To keep the issues organised, I am closing this and adding it to [this project board](https://github.com/qiskit-community/qiskit-textbook/projects/3).

[2020-09-09 11:04] #685 closed

[2020-09-09 11:05] frankharkins commented on #665
I am closing this but feel free to re-open if you feel the issue has not been sufficiently addressed.

[2020-09-09 11:05] #665 closed

[2020-09-09 11:49] frankharkins commented on #382
Yes, sorry I missed this.

[2020-09-09 11:49] #382 closed

[2020-09-09 11:54] frankharkins commented on #228
@charmerDark sorry I missed this comment. Yes, please make a PR if you are still keen to.

[2020-09-09 11:54] frankharkins commented on #228
I am going to close this issue as it is more of a guideline than a specific problem or task that can be achieved.

[2020-09-09 11:54] #228 closed

[2020-09-09 12:37] frankharkins commented on #644
Resolved in #737

[2020-09-09 12:37] #644 closed

[2020-09-09 13:58] bytesalad commented on #653
Hello! I'm sorry that it's taking some time. What took the longest is collecting resources in a relevant way. I will have a draft up very soon of the content. What I'm also trying to do is arrange it and write it in a way that fits well with the rest of the textbook.

[2020-09-09 19:39] frankharkins commented on #653
@bytesalad that's great! There's no rush, let me know if I can help in any way. When you're ready please make a draft PR.

[2020-09-09 19:59] bytesalad commented on #653
Thank you! Yes, I will.

[2020-09-10 14:12] tgag17 commented on #732
Hi! Can I make the necessary changes

[2020-09-10 14:17] tgag17 commented on #675
Hi! Indeed it would be a great addition to the chapter. Can I work on adding this section?

[2020-09-11 05:30] hum99yw opened #741 "Error in diagram for Quantum Teleportation on QisKit webpage"
Please view web-page https://qiskit.org/textbook/ch-algorithms/defining-quantum-circuits.html
where a quantum circuit diagram is shown under section 3. Example : Quantum Teleportation.
In an earlier post raised at https://github.com/qiskit-community/qiskit-textbook/issues/714
a request to swap the X gate and Z gate corrected an previous inconsistency but
now the diagram still has the following err

[2020-09-11 21:43] vabarbosa opened #743 "build is failing with latest nbconvert update"
**Describe the bug**
the textbook build fails after setting up a new/clean environment. more specifically, when `jupyter-book build` is run it fails with error `jinja2.exceptions.TemplateNotFound: base.html.j2`:

build log: https://travis-ci.com/github/qiskit-community/qiskit-textbook/builds/183710951

build error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. set up a new/clean env

[2020-09-12 08:53] YumaNK opened #747 "The link of tutorial for simultaneous RB is invalid"
**Describe the issue**
In [5.3 Randomized Benchmarking](https://github.com/qiskit-community/qiskit-textbook/blob/master/content/ch-quantum-hardware/randomized-benchmarking.ipynb), there is invalid link:

https://github.com/Qiskit/qiskit-tutorials/blob/master/qiskit/ignis/randomized_benchmarking.ipynb

**Describe what you expect to see*

The latest link should be

https://github.com/Qiskit/qiskit-t

[2020-09-13 11:25] #743 closed

[2020-09-13 18:08] paniash commented on #741
Thank you. The related PR #724 has already been merged.

[2020-09-14 00:33] abhobe commented on #733
This has been fixed. You can close this issue now.

[2020-09-14 07:19] johannesgreiner commented on #733
@abhobe no I still get the same error when opening https://quantum-computing.ibm.com/jupyter/user/qiskit-textbook/content/ch-algorithms/shor.ipynb and running the first cell. What do you think has been fixed? Do you not get this error when opening exactly this link and running the first cell? please provide a screenshot and more details. error still persists.

[2020-09-14 07:35] frankharkins commented on #733
This has not been fixed. We need to rewrite the chapter to remove use of `tabulate`, I think we can do this while keeping the neat alignment using `.ljust() / .rjust()` and/or`.format()` (see examples [here](https://stackoverflow.com/a/39032993/6441745) and [here](https://stackoverflow.com/a/43244749/6441745)).

[2020-09-14 07:51] kifumi opened #749 "Chapter 6.2: 'qiskit.pulse.commands' module was removed in 0.13.0 release"
**Describe the bug**
At Chapter 6.2 "Accessing Higher Energy States", in the first cell of importing dependencies, "from qiskit.pulse.commands import SamplePulse" is exist, but I got the error "ModuleNotFoundError: No module named 'qiskit.pulse.commands'".

[Release Notes](https://qiskit.org/documentation/release_notes.html) say;
"The qiskit.pulse.commands module containing Commands classes was de

[2020-09-14 18:51] abhobe commented on #733
Whoops my bad. I ran some other code and it fixed the issue.

[2020-09-15 14:47] #689 closed

[2020-09-21 08:24] #747 closed

[2020-09-21 10:18] #741 closed

[2020-09-21 13:13] frankharkins commented on #721
This was fixed in #724

[2020-09-21 13:13] #721 closed

[2020-09-21 16:24] bytesalad commented on #653
@frankharkins I'm busy writing the first draft of the notebook on complex algebra. I have a question. I would like to include examples of where complex numbers are used in the textbook so that the reader can have better insight. But to do so, I may run the risk of exposing the reader to something they haven't encountered yet. Since it's just a part of the appendix, should I just give a general exp

[2020-09-21 22:47] loic-broyer opened #756 "Section name problem in QFT chapter"
In chapter "Quantum Fourier Transform", section 6 is named 1-qubit QFT.
However, the example given corresponds to a 3-qubit QFT.

[2020-09-22 06:23] tgag17 commented on #756
Yes. Also, in the index section 6 is named 3-qubit QFT but on clicking it we are directed to example 1 only

[2020-09-22 06:24] tgag17 commented on #756
Can I work on this issue?

[2020-09-22 08:28] frankharkins commented on #756
@tgag17 I have assigned you, thank you!

[2020-09-23 09:44] #756 closed

[2020-09-23 13:32] #732 closed

[2020-09-23 15:57] clearya1 opened #762 "Variational Quantum Regression"
Hi there! Over the summer, I wrote an algorithm which performs polynomial regression using the Qiskit software. The algorithm is a variational one, in that it computes a cost function using quantum hardware, coupled with classical optimisers.

This algorithm takes two data sets - an independent data set (x) and dependent data set (y) and attempts to return the line of best fit for an n-th order po

[2020-09-23 17:22] tgag17 opened #763 "Section on Quantum Information"
**What should the reader gain from this new content?**

The reader will get to learn about the basic concepts of quantum information like pure and mixed states, density matrices, average fidelity along with different channels and correlations. The class on quantum information can also be introduced in this section.

**Where do you expect this new content to fit in with the current content?**

The

[2020-09-23 20:21] frankharkins commented on #763
I'm closing this as I believe it's a duplicate of #652. Please re-open if you disagree.

[2020-09-23 20:21] #763 closed

[2020-09-23 21:09] Travis-S-IBM opened #766 "Add section on T1/T2 times in Chapter 5"
**What should the reader gain from this new content?**
Coherence times of qubits are an important metric and impact how well an algorithm will run. If the time to run a circuit exceeds (roughly) the coherence time(s) of the qubit(s) it acts on, the results will not be informative.

As a result of reading this section, students would learn what T1 and T2 times are, and how they are measured. For T2

[2020-09-24 02:28] tgag17 commented on #763
Really sorry for the inconvenience, Will contribute in that issue if possible. Thank you

[2020-09-24 08:19] frankharkins commented on #766
Thank you for this proposal. I am going to alert @nbronn and @amirhassank as they are working on some additions to chapter 5 and they will know best how this should fit in with that.

[2020-09-24 09:53] #733 closed

[2020-09-24 09:58] johannesgreiner commented on #733
thanks @vabarbosa & @frankharkins ! Great to see it fixed

[2020-09-24 11:41] frankharkins commented on #763
@tgag17 don't apologise!

[2020-09-24 11:57] tgag17 commented on #652
Should different types of measurements like POVMs be included in the proposed section

[2020-09-24 19:41] Travis-S-IBM commented on #766
Great!!

@nbronn @amirhassank If you wanted to chat about this, do let me know. We can do so here, or via webex.

[2020-09-24 20:06] diemilio commented on #652
Hi @tgag17, I think that is a great question!

I think at this point we are waiting to see what the Qiskit Textbook team thinks makes sense to include in the Quantum Information chapter (if it is decided that there will be a chapter at all).

The outline I suggested above was basically what I (as a student) would like learn about through the textbook by the use of Qiskit. I suggested those topics

[2020-09-25 12:58] fmauquie opened #768 "\mathbb{I} shows as a square on MacOS"
On MacOS, the `\mathbb{I}` symbol for the identity matrix shows as a square :
<img width="184" alt="square identity matrix" src="https://user-images.githubusercontent.com/5713440/94269249-b3557980-ff3e-11ea-9ad5-12d9ee02db93.png">

This symbol can be found in the Linear Algebra chapter :
https://github.com/qiskit-community/qiskit-textbook/blob/5decfaf6e39d805eb1eef0e98ed5d9a1db9a3a53/content/ch-ap

[2020-09-25 15:29] nbronn commented on #766
As it turns out, @amirhassank and I just spoke about this earlier, and he is updating an unfinished notebook on the Lindblad Master Equation. It would be good to make sure that all of the content from the old tutorial is covered here, so thanks!

[2020-09-25 15:38] YumaNK opened #769 "Shots should be not 1024 but 10000 to much the context [Chapter 5.1]"
**Describe the issue**
The phrase
"We'll repeat the process shots=1024 times to see how likely different results are."
does not much the following phrase
" In total, much less than 100 samples come out with a majority of 1s. When using this circuit to encode a 0, this means that P < 1%"

**Describe what you expect to see**

shots = 10000 should be correct.

Then the cell before the phrase;
[code]

[2020-09-25 15:38] Travis-S-IBM commented on #766
There should be a separate tutorial on coherence and T1/T2 times, with references back to such a tutorial on Lindblad equations. Certainly the latter would be helpful for explaining why, for example, we have 3 different kinds of T2 experiments in Ignis.

[2020-09-25 16:05] YumaNK opened #770 "If step_3 = True, the code gives TypeError. [Chapter 5.1]"
**Describe the issue**

In the cell
[code]
it gives default value.

If one changes as
[code]
it raise the error at the end of the cell
[code]

**Describe what you expect to see**
`gate_probs( backend.properties().gate_error('cx',[qubit,line[j+1]]) ) `
might be
`gate_probs.append( backend.properties().gate_error('cx',[qubit,line[j+1]]) )`

[2020-09-25 16:52] tgag17 commented on #769
Hi! Should the number of shots be changed or the percentage mentioned in the notebook?

[2020-09-25 16:55] YumaNK commented on #769
I guess shots should be changed.

[2020-09-25 17:09] tgag17 commented on #769
Yes I checked by changing the shots and the cases with majority of '1's were generated which were not there with 1024 shots.
Can I fix this in the main notebook?

[2020-09-25 17:16] YumaNK commented on #769
Sure. Please fix it. Thanks

[2020-09-26 20:02] paniash commented on #731
@YumaNK Thank you for pointing this out and apologies for the delay. I have made the PR for it and have changed it as follows:
"This time we find a more interesting matrix, and one that we cannot use in the approach that we described earlier."

Please feel free to correct me if you don't find this correction convincing enough.

[2020-09-27 07:45] HuangJunye opened #774 "Auto update bib file for citing Qiskit textbook"
**Describe the problem**
I notice that bib file for citing Qiskit is updated automatically based on contributors but not the textbook.

**Describe the expected solution**
Automatically update bib files based on github contributors similar to Qiskit package.

[2020-09-29 06:08] SiyeonIm opened #777 "Phase kickback rewording (chapter 2.3)"
**Is your feature request related to a problem? Please describe.**
This paragraph in chapter 2.3 (under 2.1 Explaining the CNOT Circuit Identity) is confusing; "The interesting effect is when our control qubit is in superposition, the component of the control qubit that lies in the direction of |1⟩ applies this phase factor to the target qubit, which in turn kicks back a relative phase to our cont

[2020-09-29 15:20] frankharkins commented on #768
@fmauquie what do you expect to see? (I assume the attached image, below).
<img width="23" alt="Screenshot 2020-09-29 at 16 18 10" src="https://user-images.githubusercontent.com/36071638/94578400-9aff9a80-026f-11eb-90f1-95187c2c5b46.png">
If the latex is correct, I believe this is likely a problem with mathjax and not something we can fix.

[2020-09-29 16:09] tgag17 commented on #777
Hi! Could the wording be changed to "The interesting effect is when our control qubit is in superposition, the component of the control qubit that lies in the direction of  |1⟩ i.e when the control condition is true,  applies this phase factor to the target qubit. This applied phase factor in turn introduces a relative phase in our control qubit which changes its state."

[2020-09-29 16:09] fmauquie commented on #768
I think I expected to see a uppercase italic bold I, like the one in [the Wikipedia page about the identity matrix](https://en.wikipedia.org/wiki/Identity_matrix), but from the unicode code point your image is what should be rendered.

Copy-pasting the character (𝕀) in a [unicode search table](http://xahlee.info/comp/unicode_index.html) gives me this character:
MATHEMATICAL DOUBLE-STRUCK CAPITAL I

[2020-09-29 17:59] frankharkins opened #778 "[4.1.4] SAT/Grover lacking comparisons to classical algorithms"
**Describe the issue**
The chapter shows how to use Aqua to solve 3-SAT problems, while not acknowledging the best classical algorithm for 3-SAT outperforms the naive Grover search. This will probably lead many users to (incorrectly) believe that Grover on 3-SAT is better than the best classical algorithm.

**Describe what you expect to see**
We should mention the best classical algorithm (I belie

[2020-09-30 10:30] frankharkins commented on #778
Should also probably mention in [section 5 of the Grover's Algorithm chapter](https://qiskit.org/textbook/ch-algorithms/grover.html#5.-Solving-Sudoku-using-Grover's-Algorithm-) that this is a very slow way of solving a trivial problem, and the point is only to demonstrate an example of creating a quantum oracle from a classical verification process.

[2020-09-30 15:49] frankharkins opened #779 "[4.1.2] `get_probability_distribution` may not handle fringe cases correctly"
**Describe the issue**
The following function can be found in the "[Example with a Single Qubit Variational Form](https://qiskit.org/textbook/ch-applications/vqe-molecules.html#Example-with-a-Single-Qubit-Variational-Form)" section of the VQE chapter.

[code]

It appears to convert the `counts` from an experiment result to a 'probability vector'. I believe the line `output_distr.append(0)`, condit

[2020-09-30 17:05] YumaNK opened #780 "[Chapter 5.1] "process_results" method cause confusion due to inconsistency among explanation, method behavior and examples."
**Describe the issue**
There are two main issues.
(1)
`code.process_results( raw_results )` causes reversed order of syndrome bits.
However, textbook explains syndrome bits after `process_results`  as it is still in regular order.
It makes readers hard to interpret how the syndrome bits are processed for topological codes.

In addition, strictly speaking  the expression "bitwise OR" in "It is ther

[2020-10-01 11:28] #731 closed

[2020-10-02 09:14] frankharkins commented on #656
This is now fixed

[2020-10-02 09:14] #656 closed

[2020-10-02 17:16] rochisha0 commented on #779
I'll like to fix this.

[2020-10-06 14:34] #778 closed

[2020-10-06 16:52] #779 closed

[2020-10-08 08:00] frankharkins commented on #653
yes just a general explanation without referencing the rest of the textbook would be best please

[2020-10-11 19:57] Jwala-1908 opened #788 "Quick exercise question numbers in Phase Kickback Chapter"
**Describe the issue**
All of "Quick Exercise" questions at the end of Phase Kickback (Chapter 2.3) are numbered "1".

**Describe what you expect to see**
1,2,3

[2020-10-14 13:00] paniash commented on #788
Thank you for pointing this out. The issue is already fixed and will be later synced with the website.

[2020-10-16 10:53] Jwala-1908 commented on #788
Oh okay!

[2020-10-16 10:53] #788 closed

[2020-10-20 09:59] frankharkins commented on #675
@tgag17 sorry for missing this. Yes please go ahead and make a work-in-progress pull request as soon as you have something.

[2020-10-20 11:03] frankharkins commented on #788
@paniash unfortunately this was not fixed. The lists appeared correctly in the notebooks but not when rendered to the site. I have provided a fix in #790

[2020-10-20 14:17] HTransistor opened #794 "6.3 Small phi"
**Describe the issue**
If E_J / E_C << 1 than phi, will be big as it is proportional to the inverse (despite the 4th root).
e.g. it is 1000 then phi would be 10, so phi << 1 is not true
![6_3_small_phi](https://user-images.githubusercontent.com/43704364/96598125-d7fb0200-12ee-11eb-8930-0f6e13907f1f.png)

[2020-10-20 20:46] pbark opened #795 "Chapter 4.1.2"
**Describe the issue**
Last part of chapter 4.1.2 where the H_2 energy is estimated with noisy calculation the exact value is not taking into consideration the nuclear repulsion. This may be misleading for users with chemistry background that are not familiar with the qiskit drivers.

**Describe what you expect to see*
The fix is relatively easy and only content change.

[2020-10-21 08:26] #769 closed

[2020-10-21 08:26] #517 closed

[2020-10-21 10:45] tgag17 commented on #794
Hi! Kindly correct me if I am wrong but if the ratio Ej/Ec >>1 (say 1000) then phi= (2*Ec/Ej)^(1/4) would be proportional to the 4th root of 1/1000 (around 0.177) which is <<1

[2020-10-21 14:39] HTransistor opened #798 "6.4 Equation references and confusing ordering of explanations"
**Describe the issue**
This passage is really hard to read. First the perturbation is calculated in the first equation
The sentence about S does not to do anything with it, but "Now we know" implies it.
Apperently the text beneath the equation explains why it should have the form. I suggest Moving the text until the last sentence (ending with "even n") moving above the equation.

Futhermore the eq

[2020-10-22 08:48] HTransistor commented on #794
Yes, you are right. As you can see in the first words I typed, I have misread the >> as <<.

[2020-10-22 08:48] #794 closed

[2020-10-22 09:26] frankharkins commented on #762
@clearya1 I apologise for the slow response. Can you please make a WIP pull request to the textbook with this? Please put the notebook in `content/ch-applications/`.

[2020-10-22 10:26] HTransistor opened #799 "6.4 where does sigma_x come from?"
**Describe the issue**
1. Where does sigma_x in the last equation come from? Before we were dealing just with sigma_z.

2. In equation 2 it is not clear why from the commutator of sigma_+- terms the result is sigma_z. What is the [sigma_+, sigma_-]. It would be good to mention this in the textbook.

![6_4_sigma_x](https://user-images.githubusercontent.com/43704364/96859017-48c22b80-1461-11eb-881c-

[2020-10-22 10:28] HTransistor opened #800 "6.4 Transformation"
**Describe the issue**
Why we transform with the -i*Dagger(D)*D' part?
**Describe what you expect to see*
![6_4_transform](https://user-images.githubusercontent.com/43704364/96859521-e4539c00-1461-11eb-9730-3554e4c06358.png)

[2020-10-22 13:42] #795 closed

[2020-10-27 21:10] stanescuUW opened #804 "Deutsch-Jozsa: last figure legend obviously wrong (run on actual hardware)"
**Describe the issue**

The last figure (at the bottom) in the presentation of the D-J algorithm (Qiskit Textbook), which shows results from a run on actual hardware, is obviously wrong. The legend states "As we can see, the most likely result is 1111" while the highest bar in the histogram is at 1101.

**Describe what you expect to see*

[2020-10-28 10:40] tgag17 commented on #804
Hi! Yes, there is an error with the figure. I checked the code by running it and the resultant figure gives the correct result (highest count for 1111). Can I make the necessary changes?

[2020-10-28 13:50] stanescuUW commented on #804
Not sure whether the question about the changes is for me or not, but as far as I'm concerned please do change it - absolutely!

[2020-10-29 16:02] tgag17 commented on #675
To represent the gate in the circuit form should a circuit be run for each gate or should an image be added? Any suggestion

[2020-10-30 09:35] #804 closed

[2020-10-30 11:58] frankharkins commented on #762
@clearya1 are you still able to work on this? If not, I will close this issue.

[2020-10-30 12:02] clearya1 commented on #762
Hi Frank, apologies for not having made the pull request yet. I am definitely still able to work on this, and will make the pull request this afternoon.

[2020-10-30 14:54] frankharkins opened #808 "Improve kernel reliability / loading times"
**Is your feature request related to a problem? Please describe.**
When running code through thebelab on the website, the kernels can often take a while to load, and sometimes fail silently without retrying or alerting the user.

**Describe the solution you'd like**
If possible, the loading times for the kernel should be improved, and the user should have more information on thebelab's status.

[2020-11-03 13:44] the-legend-of-lia opened #810 "Quantum Teleportation notebook code is wrong"
**Describe the issue**
https://qiskit.org/textbook/ch-algorithms/teleportation.html
Screenshot 1:
![image](https://user-images.githubusercontent.com/16793587/97992249-57ea9700-1dda-11eb-8005-c8f2fa29e36c.png)
Screenshot 2:
![image](https://user-images.githubusercontent.com/16793587/97992268-5de07800-1dda-11eb-9f09-826282304979.png)
Above are 2 screenshots from the Qiskit textbook. I think the firs

[2020-11-03 15:50] the-legend-of-lia commented on #810
Note: I found this content bug because Dayeong Kang (tula3and on github) made slides about quantum teleportation in Qiskit with the right circuit :)

[2020-11-03 20:04] carlklier opened #812 "Grover's Algorithm Matrix Size"
**Describe the issue**
Shouldn't the matrix go from f(0) to f(2^(n-1)) rather than f(2^n). For 3 qubits the array matrix would be 8x8 like in the example shown, but the matrix shown right below/after "oracle's matrix will be a diagonal matrix of the form:" appears to be larger than 8x8 for n=3.
![image](https://user-images.githubusercontent.com/48186448/98034909-b79a6f80-1de5-11eb-82e9-ce4a3b72a8f

[2020-11-04 09:22] paniash commented on #810
@the-legend-of-lia Thank you for pointing this out. I have made a PR for it, let me know if it is fine.

[2020-11-04 10:39] paniash commented on #812
Thank you for pointing this out. I have the relevant PR for it. :)

[2020-11-04 10:47] paniash commented on #800
@HTransistor Hi! I'm not very clear with your question. Is it a doubt that you have or is it an issue present in the textbook per se? Also, it would be great if you would mention the chapter from where is portion is from. Thanks!

[2020-11-04 14:17] #768 closed

[2020-11-04 21:58] HTransistor commented on #800
The chapter is 6.4 as stated in the title, the name of the subchapter is circuit quantum electrodynamic in chapter investigating quantum hardware using micro waves.

D is the glauber operator.
The question is why we use exactly this transformation (is it a common transformation)? There is no comment on this passage, why this expression is even calculated. In the end you get a simplified Hamiltonia

[2020-11-06 13:06] heinzay1999 opened #816 "Grammatical Error in the Linear Algebra Section of the Qiskit Textbook"
**Describe the issue**

" is said to be linearly dependent if there exist corresponding coefficients for each vector ..." This a sentence under the Spanning Sets, Linear Dependence, and Bases section of the textbook. I feel like the phrase "if there exist" is grammatically incorrect.

https://qiskit.org/textbook/ch-appendix/linear_algebra.html

**Describe what you expect to see*

My suggestion wou

[2020-11-06 13:39] diemilio opened #817 "6.3 Disconnect between Transmon Hamiltonian and qubit Hamiltonian"
**Is your feature request related to a problem? Please describe.**

The introduction for "[6.3 Introduction to Transmon Physics](https://qiskit.org/textbook/ch-quantum-hardware/transmon-physics.html)" suggests that this chapter will explain how the Transmon can be used as a qubit. To do this, the Hamiltonian for the Transmon is first derived very nicely in [section 4](https://qiskit.org/textbook/c

[2020-11-06 15:22] paniash commented on #816
@heinzay1999 Hi! Pardon me but I don't really find the sentence grammatically incorrect. In general, you'll find such phrases used in math textbooks all the time.

[2020-11-06 20:18] diemilio commented on #817
wow! That was quick! Thanks @nbronn

[2020-11-06 20:43] nbronn commented on #817
No problem @diemilio! I was adding another derivation in the same notebook, so thought I'd fix up that Hamiltonian at the same time.

[2020-11-07 02:52] heinzay1999 commented on #816
@paniash Hi!! You could be correct as well. When I came across it, it sounded weird to me. Lets see what others have to say.

[2020-11-07 03:18] jwoehr commented on #816
The sentence is correct as stands. The verb **exist** is conjugated here in the **present subjunctive 3rd person plural** form in agreement with its plural subject **coefficients**.

The syntactic order can be puzzling ... reordering the sentence one could say with grammatical and syntactic soundness, "_If corresponding coefficients for each vector exist there, then ..._"

[2020-11-07 07:06] heinzay1999 commented on #816
Ok then. Well thanks to both @paniash and @jwoehr for helping out.

[2020-11-07 07:06] #816 closed

[2020-11-09 19:35] #817 closed

[2020-11-09 19:37] #812 closed

[2020-11-09 19:54] #810 closed

[2020-11-10 06:10] paniash opened #821 "Image text readability issue when viewed in dark mode"
**Describe the bug**
When the textbook is viewed in dark mode (using addons like [Dark Reader](https://darkreader.org/)), the text in the images becomes difficult to read, owing to the fact that the images are .png files.

**Expected behavior**
Using alternate image formats like .jpg would render the background of the images to be opaque and hence improve readability of text when viewed in dark mo

[2020-11-11 08:42] frankharkins commented on #821
This is something that needs to be fixed on darkreader's side ([see here](https://github.com/darkreader/darkreader/issues/356)). We don't support a dark mode yet, but it is low-priority in the backlog (#377).

[2020-11-11 08:49] paniash commented on #821
@frankharkins Thank you!

[2020-11-11 08:49] #821 closed

[2020-11-11 10:39] rakaar opened #822 "Unable to display image in Chapter 1.2"
**Describe the issue**
In Chapter 1.2 - `The Atoms of Computation` in section 4.3, a image doesn't show up in both `qiskit.org/textbook` and `IBM Quantum Experience`. Below are the attached screenshots
![image](https://user-images.githubusercontent.com/44907757/98801646-1724fa80-2438-11eb-80d3-88341993553b.png)
![image](https://user-images.githubusercontent.com/44907757/98801656-1db37200-2438-11eb

[2020-11-11 17:08] paniash commented on #777
@SiyeonIm Hi! I've changed the wording to as follows:
" The interesting effect is when our control qubit is in superposition. The component of the control qubit that lies in the direction of |1> applies this phase factor to the *corresponding* target qubit. This applied phase factor in turn introduces a relative phase into the control qubit:"

Thank you @SiyeonIm and @tgag17 for the contribution.

[2020-11-13 12:33] paniash commented on #749
@kifumi Hi! This appears to have already been corrected. The import is now done as
[code]
Cheers!

[2020-11-13 14:12] frankharkins commented on #822
Looks like for some reason this image was hosted elsewhere and is no longer available. I know what this image should look like so I'll recreate it with qiskit and add it to textbook repo so it can be hosted on the textbook website.

[2020-11-13 15:20] #822 closed

[2020-11-19 05:00] gonzrubio opened #830 "Inconsistent quibit notation in 3.2 Quantum teleportation"
**Describe the issue**
In section: 4. Understanding Quantum Teleportation, under step 1, it reads:
Alice and Bob each possess one qubit of the entangled pair (denoted as A and B respectively). The Bell state vector labels Alice's and Bob's qubit in the reverse order.

**Describe what you expect to see*
|psi> = (1/sqrt(2))(|0>_B|0>_A+|1>_B|1>_A)

[2020-11-19 12:36] paniash commented on #830
@gonzrubio Hi! The mathematics assumes big-endian notation whereas qiskit uses little-endian notation. I understand that this is inconsistent with the particular chapter in question but I find it perfectly understandable. Let me know if you feel otherwise.

[2020-11-19 16:14] gonzrubio commented on #830
Thank you @paniash. I find it perfectly understandable - I just wanted to let you know it was inconsistent with the chapter and qiskit's notation.

[2020-11-19 16:14] #830 closed

[2020-11-22 13:54] rakaar opened #835 "Subscript at improper places in Grover's Algorithm"
**Describe the issue**
Though this is not a serious issue. But felt it can be changed. The subscripts for `U` above the circuit are not at the proper place at [this](https://qiskit.org/textbook/ch-algorithms/grover.html) link.
![image](https://user-images.githubusercontent.com/44907757/99905650-23426f00-2cf8-11eb-8089-dba4bc415c4e.png)
![image](https://user-images.githubusercontent.com/44907757/99

[2020-11-23 19:01] vabarbosa opened #837 "Qiskit logo not loading"
**Describe the bug**

a broken/missing image appears in the header of the page where the Qiskit logo should be shown.

**To Reproduce**

Steps to reproduce the behavior:
1. go to any textbook page e.g., https://qiskit.org/textbook/preface.html
2. see broken/missing logo in the header (top left of page)

**Expected behavior**

display the appropriate logo image

**Version info***

Any browser or OS

[2020-11-24 05:45] paniash commented on #835
@rakaar Hi! This seems to be specific to your system. It looks fine on my end though. Can you tell me which browser you're on? Maybe try changing the monospace font in your browser settings.

[2020-11-24 08:36] rakaar commented on #835
@paniash
The above images are from Microsoft Edge Browser.
The issue is also on Chrome and Firefox
Chrome:
![image](https://user-images.githubusercontent.com/44907757/100068942-2bb4ba00-2e5e-11eb-9322-9aaa5a8b9112.png)
Firefox:
![image](https://user-images.githubusercontent.com/44907757/100068954-31120480-2e5e-11eb-9a63-a35f1c41418c.png)

[2020-11-24 12:24] #837 closed

[2020-11-24 17:15] paniash commented on #835
@rakaar Have you tried doing this?

This is strange. I don't see it on my laptop but it does seem to be an issue when I view it on Android.

[2020-11-24 17:53] rakaar commented on #835
@paniash
how are font settings related to it, this is a image right?

![image](https://user-images.githubusercontent.com/44907757/100132848-02bb1600-2eac-11eb-9423-61aa56bed3fe.png)

[2020-11-24 18:31] paniash commented on #835
@rakaar Yes but I as I said, I don't see the issue on my end. No harm in fiddling with the fonts, just in case it rectifies the issue ;)

The below are screenshots from my system: (In order: Chromium and Firefox)

![pic-full-201124-2331-16](https://user-images.githubusercontent.com/59497618/100136616-45cbb800-2eb1-11eb-8584-a5d1184f2fb9.png)

![pic-full-201124-2331-47](https://user-images.githubus

[2020-11-28 11:50] theinlinaung2010 opened #843 "[3.1] Improvement on section 3.1: Describing the Restricted Qubit State"
I think section **3.1** could be improved for more clarity to the beginners like me. First, rewriting the qubit state with <img src="https://render.githubusercontent.com/render/math?math=\alpha ,\beta ,\phi \in \R"> could be elaborated a little, possibly showing how two complex numbers can be written with two real numbers with a phase difference. This is similar to the proposal #415.

Moreover, th

[2020-11-29 23:19] attp opened #844 "Quantum Key Distribution section is better after Superdense Coding"
In Chapter 3 _Quantum Protocols and Algorithms_, the **Quantum Key Distribution** section logically fits better after the **Superdense Coding** one, rather than at the end. This groups all the communication protocols together in the chapter.

![tb-qkd](https://user-images.githubusercontent.com/9410731/100556266-41f6c600-32f5-11eb-8d61-52f9dd0f60d9.png)

[2020-12-01 12:44] quantumjim commented on #844
Another thing to note here: this section does not seem to name the protocol. Is it BB84?

[2020-12-01 15:20] vabarbosa commented on #633
this appears to have been resolved

<img width="856" alt="image" src="https://user-images.githubusercontent.com/13156555/100759639-d8db8500-33be-11eb-8a1f-c28ba290dff2.png">

[2020-12-01 15:20] #633 closed

[2020-12-01 16:41] vabarbosa commented on #749
Resolved by https://github.com/qiskit-community/qiskit-textbook/pull/789

[2020-12-01 16:41] #749 closed

[2020-12-03 12:51] corneliusroemer commented on #313
You're right, I also found this and fixed it https://github.com/qiskit-community/qiskit-textbook/pull/847

[2020-12-05 07:30] knamba-jp opened #850 "Default user config file is ~/.qiskit/settings.conf"
**Describe the issue**
In [0.1 Setting Up Your Environment](https://qiskit.org/textbook/ch-prerequisites/setting-the-environment.html), there is the following sentence:

But the default user config file is ~/.qiskit/settings.conf

**Describe what you expect to see**

[2020-12-07 12:38] #313 closed

[2020-12-08 18:40] westaf2000 opened #853 "Image links in the book are broken"
It appears that some assets stored on s3 are no longer there.

For example, in chapter 1.1, Introduction, after the first paragraph, there's an image reference:

[code]

The asset no longer exists, as shown below:

[code]

[2020-12-09 01:27] theinlinaung2010 commented on #853
Broken links at [S2.4](https://qiskit.org/textbook/ch-gates/more-circuit-identities.html) too.

https://s3.us-south.cloud-object-storage.appdomain.cloud/strapi/4efe86a907a64a59a720b4dc54a98a88iden1.png
https://s3.us-south.cloud-object-storage.appdomain.cloud/strapi/693974b222d24dba9111e02ae25e9151iden2.png
https://s3.us-south.cloud-object-storage.appdomain.cloud/strapi/b3cbeb9b7d674d60a75bed351e4f

[2020-12-09 14:32] vabarbosa commented on #853
@westaf2000 thanks. working on getting them restored.

[2020-12-10 11:08] #850 closed

[2020-12-10 11:09] #853 closed

[2020-12-17 15:10] #649 closed

[2020-12-20 17:33] paniash opened #865 "4.1.1. [HHL] Inconsistency in circuit_depth"
**Describe the bug**
A clear and concise description of what the bug is.

After executing the following code under the general method section (4A),
[code]

[code]

The actual "circuit_depth" that I get is 101 as opposed to the textbook example of 102.

**Expected behavior**
The textbook depicts real code output and hence circuit_depth should be 101.

**Version info***
For qiskit problems, please p

[2020-12-27 15:00] prakity opened #870 "[2.1] Minor improvement to section 2.1"
**Describe the issue**
Should mention that |> is a column vector and define complex transpose.  The * notation is not defined. SEE CAPS BELOW
**Describe what you expect to see**
A Very Important Rule

There is a simple rule for measurement. To find the probability of measuring a state
|ψ⟩
 in the state
|x⟩
 we do:
p(|x⟩)=|⟨x|ψ⟩|2
The symbols
⟨ and | tell us ⟨x| is a row vector AND |> iS A COLUMN V

[2020-12-27 16:14] mentesniker opened #871 "[5.2] Mathematical inaccuracy in Measurement Error Mitigation"
**Describe the issue**
In the middle of the tutorial there's a part that says that counts must be Integers. I think It should say positive integers since you can't really have a negative number of experiments.
![Screenshot from 2020-12-27 10-03-03](https://user-images.githubusercontent.com/35209340/103174884-70e85500-482b-11eb-86c9-4a0093284032.png)
**Describe what you expect to see**
The correct

[2020-12-29 16:43] paniash commented on #871
@melvin2016 Hi! I think it is implicitly assumed that counts are positive. However, technically speaking this correction needs to be made.

[2020-12-29 17:19] paniash commented on #870
@prakity Hi! Pardon but your issue is not very clear. Could you make it concise and understandable?

[2020-12-29 18:10] prakity commented on #870
Original text

Extend sentence “... is a row vector.” “and < | is a column vector”

Reminder section is not helpful here it should include definition of conjugate transpose.

Philip
IPaw Powered

[2020-12-29 18:13] prakity commented on #870
Ops. ‘and  |> is a column vector’.  See below for other more important comment

IPaw Powered

[2021-01-01 16:05] Aniruddha120 opened #877 "Equation getting covered by side panel"
**Is your feature request related to a problem? Please describe.**
in this notebook , some equations getting covered by the side panel and it is hard to read the equation. I tried to zoom out to see if that was my browser's problem but it seems a real issue. It is a request to see if there is any solution.
**Describe the solution you'd like**
It can be solved by editing the notebook.
**Describe al

[2021-01-02 17:49] paniash commented on #877
@Aniruddha120 Looks like this is an issue specific to your local browser settings. It looks fine on my end (running on firefox).

[2021-01-02 19:31] Aniruddha120 commented on #877
I am also using firefox(for windows) in my laptop. but when i zoom out to 80% then it seems fine.

[2021-01-06 06:17] kUmezawa opened #879 "The widget used in the Gate Demo of widgets-index.ipynb is Q-sphere, not bloch sphere."
Hello, Team.

**Describe the issue**
I think the widget used in the Gate Demo of widgets-index.ipynb is Q-sphere, not bloch sphere. Is it correct?

**Describe what you expect to see**
If the document is correct, modify the widget. If the widget is correct, modify the document and modify the bloch sphere used in Single Qubit Gates to Q-sphere.

Thank you.

[2021-01-07 19:03] ms-O commented on #695
+1 on providing solutions for the exercises.  This would be beneficial to educators like myself who would like to use the Qiskit textbook in their courses.

[2021-01-09 04:28] Kuma-quant opened #881 "[4.1.1] Why a probability appeared in the HHL textebook can exceed 1 ?"
**Describe the issue**

[Solving Linear Systems of Equations using HHL](https://qiskit.org/textbook/ch-applications/hhl_tutorial.html)

In sec. 3. (Example: 4-qubit HHL,),
_6. Without using extra gates, we can compute ...._
![image](https://user-images.githubusercontent.com/77182983/104082609-fe3f9680-527a-11eb-8f77-9fe1ca83e5df.png)

However, the calculation seems strange since 45/32 is larger th

[2021-01-11 09:02] Kuma-quant opened #883 "A miscalculation in the HHL textbook"
**Describe the issue**

A miscalculation in the HHL textbook was found.
I spent a lot of time on that xD

[Solving Linear Systems of Equations using HHL](https://qiskit.org/textbook/ch-applications/hhl_tutorial.html)

In sec. 3. (Example: 4-qubit HHL,),

![image](https://user-images.githubusercontent.com/77182983/104159016-ebbb8d80-5431-11eb-8ab2-f4335edf6b5d.png)

These eigen vector would be wron

[2021-01-11 10:06] Jwala-1908 commented on #695
I've uploaded my [solutions](https://github.com/Jwala-1908/my-qiskit-textbook-solutions) to the exercises from chapters 1 and 2 on . Would love comments and/or suggestions, and hope I can contribute something directly to the textbook as well.

[2021-01-12 16:48] Aniruddha120 commented on #877
I am closing this issue as the textbook is working fine in my other browser.

[2021-01-12 16:48] #877 closed

[2021-01-13 12:07] oscar-defelice commented on #879
I think it is Bloch sphere actually.
You can plot Q-sphere, by the optional parameter (by default set to `False`) `qsphere` in the `gate_demo`

e.g.

[code]

[2021-01-15 11:31] frankharkins commented on #879
This was fixed in the `master` branch but wasn't pushed through to the live site. Thanks for bringing this to my attention. Just fixed in #884 but the kernel might now take a while to load (this happens every time we update `thebe-stable` which is why we avoid doing it frequently).

[2021-01-15 11:31] #879 closed

[2021-01-15 11:35] frankharkins commented on #835
I believe this is a browser issue instead of a problem on our end. Either way, this is low priority and will most likely become redundant soon as images are changed. I am closing this but feel free to re-open if you think this is unfair.

[2021-01-15 11:35] #835 closed

[2021-01-16 14:47] oscar-defelice opened #885 "Deprecation Warning due to the use of `QuantumCircuit.cu1` method."
**Describe the bug**
In the current version of the textbook the `QuantumCircuit.cu1` method is often used when defining a generic $U(1)$ rotation.
However, the current version of Qiskit deprecates such a method and replace it with `QuantumCircuit.p`.
The bug is perfectly described by the warning
[code]

**To Reproduce**

[code]

**Version info***
[code]

**My suggestion**
I think a misalignment be

[2021-01-16 15:42] prakity commented on #870
![D7783619-07B6-4F6A-AF38-DC501434F864](https://user-images.githubusercontent.com/1106259/104816163-29912b00-5811-11eb-8501-e6bfb495e2a6.png)

inner product note is not appropriate.  DescRibe conjugate transpose

[2021-01-16 15:59] paniash commented on #885
@oscar-defelice Thank you for pointing this out. I have made the changes in the relevant files and opened a [PR](https://github.com/qiskit-community/qiskit-textbook/pull/886) for the same. :-)

[2021-01-19 11:53] frankharkins commented on #700
Took a while but all fixed now: <img width="520" alt="Screenshot 2021-01-19 at 11 52 56" src="https://user-images.githubusercontent.com/36071638/105031204-e0c5b600-5a4c-11eb-800c-1f25b88c1674.png">

[2021-01-19 11:53] #700 closed

[2021-01-20 13:10] #844 closed

[2021-01-20 13:10] #885 closed

[2021-01-22 11:26] paniash opened #888 "3.3 Error in gate operation for message "11""
**Describe the issue**
The gate operation `ZX` is applied when sending the classical message "11". In the table, the `X` gate is applied first, followed by the `Z` gate. However, when implementing the circuit in qiskit, the `Z` gate is applied first, followed by `X`.

**NOTE**: Both the operations yield the same state except a global phase of -1 differing between the two. This might make things co

[2021-01-24 06:45] jwoehr opened #890 "Dead link in https://qiskit.org/textbook/ch-applications/satisfiability-grover.html"
**Describe the issue**
In the Satisfiability section the text "Grover's algorithm for unstructured search was introduced in an **earlier section**," the link from **earlier section**  to https://qiskit.org/textbook/ch-algorithms/grover.ipynb is dead. Probably should point to https://qiskit.org/textbook/ch-algorithms/grover.html
**Describe what you expect to see**
Working link.

[2021-01-25 13:32] #890 closed

[2021-01-26 13:30] frankharkins commented on #865
@paniash is the problem here that the text says:

?

[2021-01-26 13:35] paniash commented on #865
This as well as the code output. The expected circuit_depth should be 101.

[2021-02-02 02:02] jackbaker1001 opened #899 "[4.1.3] Error in chapter 4.1.3 (QAOA)"
Code cell three calculates the expectation of the cost function for the butterfly graph using a closed form solution. Problem is, the surface produced here **does not** look like the surface evaluated using the standard stochastic calculation of the cost function expectation (i.e, sampling and averaging). It should look like the attached (when \Gamma runs from 0 to 2\pi and \beta runs from 0 to \p

[2021-02-03 12:26] frankharkins commented on #780
Fixed in #897

[2021-02-03 12:26] #780 closed

[2021-02-03 12:26] frankharkins commented on #770
Fixed in #898

[2021-02-03 12:26] #770 closed

[2021-02-04 21:06] mbuchberger1967 commented on #881
I came to the same problem, how can a probability exceed 1?

[2021-02-04 21:08] mbuchberger1967 commented on #883
I found the same bug. and still the probability exceeds 1!!!

[2021-02-09 09:39] firmai opened #913 "Textbook with Github Pages"
Hi guys, I love 😍  your project, If I want to use what you have developed up to now, is there a way to get it up and running with GitHub pages, I had a few stumbling blocks with rclone, secrets, and actions. If anyone knows how qiskit-community/qiskit-textbook can be used as a template, I would be forever grateful and so would other communities. While we are on the topic, I would enjoy taking the

[2021-02-09 10:39] frankharkins commented on #913
@firmai are you looking to host a clone or derivative of the textbook? We currently use an outdated version of jupyter book: https://legacy.jupyterbook.org/intro.html. Depending on what you want to achieve, you may find it easier to use the existing notebooks with the new version of jupyter book: https://jupyterbook.org/ which has advice on using github pages: https://jupyterbook.org/publish/gh-pa

[2021-02-09 13:56] firmai commented on #913
Thanks, @frankharkins, I will have a go at the new version. Thank you for helping out, I might come back to borrow some elements over time. Cheers.

[2021-02-09 13:56] #913 closed

[2021-02-09 15:13] Kuma-quant commented on #883
Hi, Markus-san.
I have found how the miscalculation of  the probability was occured in the HHL textbook. (Issue 881)
https://github.com/qiskit-community/qiskit-textbook/issues/881

[2021-02-23 23:08] kaelynj opened #924 "Quantum Simulation and Trotter Suzuki Formalism"
Hi all!  As part of my candidacy prospectus, I wrote a quantum simulation algorithm for a one-dimensional Hubbard system using Qiskit.  The algorithm time evolves an excitation in a 1D chain of n sites using the Fermi-Hubbard Hamiltonian.

The code itself takes the hopping energy _t_, and onsite energy _U_, as well as a time step size, a total number of time steps, and the chain size.  It creates

[2021-02-24 18:47] quantumjim commented on #924
Note that the Trotter-Suzuki method is briefly used in [Section 2.5](https://qiskit.org/textbook/ch-gates/proving-universality.html). So it should be written with an awareness of that.

[2021-02-24 18:56] kaelynj commented on #924
Yeah that makes sense to me.  Potentially the piece on Trotter could be made briefer with a reference to the end of section 2.5 and noting that the method proving universality was done using the Trotter-Suzuki method.

[2021-03-01 14:24] quantumjim opened #927 "Error in Lab 01"
**Describe the issue**

In Lab 1, there is a typo in the OR gate exercise. The lines

[code]

which ignore the actual inputs `inp1` and `inp2` should be

[code]

[2021-03-01 15:03] HwajungKang commented on #927
Just fixed it. Thanks!

[2021-03-01 15:18] #927 closed

[2021-03-03 11:04] quantumjim opened #932 "Use of `execute` in 8.2"
**Describe the issue**

The `execute` function is still referred to in text in [this section](https://qiskit.org/textbook/ch-appendix/qiskit.html), even though the code now uses `assemble` and `run`.

[2021-03-04 01:49] omarcostahamido opened #933 ""statevector" vs "state vector""
**Describe the issue**
Though we might want to refer to "statevector" as direct reference to how we type it in python, "statevector" (one word) has been adopted in current language among qiskitters to be synonymous of "state vector" (two words) in any situation.

**Describe what you expect to see**
I noticed that there are some places [here](https://qiskit.org/textbook/ch-states/representing-qubit

[2021-03-04 11:24] nkanazawa1989 opened #934 "Pulse code example updates (Qiskit Advocate Project)"
Currently some pulse code examples are written in the old programming model based on `Schedule`. I'll update these code examples with the _pulse builder_ syntax which is becoming a new standard of Qiskit Pulse programming. This work will be done as a part of the qiskit advocate project, with the contribution of the team @faraimazh @kUmezawa @0sophy1 @splch.

See below for details:
https://github.c

[2021-03-04 11:32] frankharkins commented on #932
Sorry! I meant to fix this

[2021-03-04 12:38] 0sophy1 commented on #934
so excited to join!

[2021-03-04 13:03] faraimazh commented on #934
Let's hack on!

[2021-03-04 13:32] kUmezawa commented on #934
Hello !

[2021-03-04 13:42] aasfaw commented on #934
Well done Naoki and team. Good luck!

On Thu, Mar 4, 2021, 08:32 kUmezawa <notifications@github.com> wrote:

[2021-03-04 20:40] splch commented on #934
You can't beat🎶 Pulse!🎵

[2021-03-07 03:00] trippalamb opened #936 "3.2 Deutsch-Jozsa Algorithm Possible Typo in Formula"
In section "1.2 The Classical Solution" of Chapter "3.2 Deutsch-Jozsa Algorithm" there is a math formula for the probability of the function being constant. In that formula it is noted that the formula holds true "for k <= 2^(n-1)".

I definitely could be mistaken, but I believe this is a typo and should read "for k <= n",

Edit: Upon further inspection it strikes me that something more might be o

[2021-03-07 07:25] nkanazawa1989 commented on #934
Thanks @frankharkins for assignment :)

[2021-03-10 13:07] frankharkins commented on #936
@trippalamb if we set limit 1 < k <= 2^(n-1), does this eq. work correctly in your opinion? We can't get any guesses about probability before k is at least 2 so it makes sense to limit it to this.

[2021-03-10 15:56] trippalamb commented on #936
Yes, that definitely makes sense if we cannot make a guess about the probability before k=2.

[2021-03-10 15:59] #932 closed

[2021-03-10 20:10] ryanfmandelbaum opened #941 "Replace all instances of "ancilla" with "auxiliary""
**Describe the problem**

Ancilla is Latin for "maid" or "slave girl." We've been pushing internally for this word to be removed and replaced with the synonymous auxiliary. The Qiskit Textbook should follow suit and use the more appropriate term.

The word appears:
https://qiskit.org/textbook/ch-paper-implementations/vqls.html
https://qiskit.org/textbook/ch-applications/hhl_tutorial.html
https://q

[2021-03-10 22:27] aasfaw commented on #941
Thank you @ryanfmandelbaum! I agree with this, let's make it happen. Would you like to take action on this?

[2021-03-11 19:00] mmcelaney commented on #941
This would be a great first issue for someone in our community to tack. Thanks for submitting! I hope someone has the time to tackle this soon!

[2021-03-11 21:17] ryanfmandelbaum commented on #941
Agreed -- I would say this would be a nice first issue for a potential textbook contributor to get them up to speed on the textbook updating process.

[2021-03-13 04:38] Chriscrosser3310 opened #952 "A new chapter on ZX-calculus"
### **What should the reader gain from this new content?**
This is a proposal for a potential new chapter. The main goal of the chapter is to introduce ZX-calculus, a powerful graphical tool introduced in 2008 by Coecke and Duncan [3, 4]. It consists of graphical representations called ZX-diagrams and a set of rewriting rules for transforming ZX-diagrams into one another. As the name suggests, its

[2021-03-13 15:07] paniash opened #953 "4.1.2 Code output not rendered"
**Describe the bug**
Running the following section of code:

The website does not have the output rendered for the following block of code:

[code]

**Expected behavior**
The output must be:
[code]

For website problems please state device / OS / browser.
Laptop / Linux / firefox

**Screenshots**
If applicable, add screenshots to help explain your problem.

![pic-selected-210313-2035-05](https://u

[2021-03-13 19:11] dhruvbhq opened #954 "Inconsistent labels for Bell state and the qubit to be sent in Teleportation (Ch. 3.10)"
**Describe the issue**
https://qiskit.org/textbook/ch-algorithms/teleportation.html
While going through the section on quantum teleportation, I observed some inconsistencies in the notations which might be potentially confusing for a novice reader:

1. In the early part of the section, from 'Overview' (https://qiskit.org/textbook/ch-algorithms/teleportation.html#overview) to 'Using the QASM simula

[2021-03-13 19:12] dhruvbhq commented on #954
If you believe this is a good first issue, I would like to attempt the fix, as I am new to contributing.

[2021-03-15 07:17] quantumjim opened #957 "Use of qobj in `run()`"
**Describe the issue**

Qiskit is currently giving the following warning when using an IBMQ backend.

[code]

This seems inconsistent with the efforts that have been made to remove `execute` from the textbook.

[2021-03-15 13:33] jwoehr commented on #957
It's not `run()` that's deprecated, it's passing a `Qobj`. `run()` will take a `QuantumCircuit` object. `Qobj` is being relegated to the hinterlands.

[2021-03-15 15:00] quantumjim commented on #957
Good to know. Though I think to there's been a lot of recent effort to add
it to the textbook when replacing execute.

On Mon, 15 Mar 2021, 14:34 Jack J. Woehr, ***@***.***> wrote:

[2021-03-15 15:25] jwoehr commented on #957
In the 2000's, I used to browse quantum computing papers at my leisure.
Now keeping up with Qiskit alone is a fulltime job :)

[2021-03-15 15:40] jwoehr commented on #957
Reading qiskit-terra/qiskit/providers/backend.py allows one to wallow in the complexity of the spec as it currently stands:

    @abstractmethod
    def run(self, run_input, **options):
        """Run on the backend.

        This method that will return a :class:`~qiskit.providers.Job` object
        that run circuits. Depending on the backend this may be either an async
        or sync call. It

[2021-03-16 02:16] kifumi opened #960 "Links are not working in Japanese translation website"
**Describe the bug**
In Japanese version of website, the two icons of “Open in IBM Quantum Lab” and “Download as Jupyter Notebook” go to the error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://qiskit.org/textbook/ja/ch-algorithms/deutsch-jozsa.html'
2. Click on 'IBM Quantum Labを開く'
3. See error "404 : Not Found You are requesting a page that does not exist!"
and
1. Go to 'h

[2021-03-16 09:15] #941 closed

[2021-03-16 19:12] filippotramonto opened #964 "[3.5] Inconsistency with indexes in section 5 of the chapter 3.5"
**Describe the issue**
There is an inconsistency in [section 5 of the chapter 3.5 ](https://qiskit.org/textbook/ch-algorithms/quantum-fourier-transform.html#5.-The-Circuit-that-Implements-the-QFT-).
In the sentence that starts with "The action of $CROT_k$ on the two-qubit state $\vert x_j x_k\rangle$" the order of the indexes, j and k, of the state $\vert x_j x_k\rangle$ is inconsistent respect to

[2021-03-17 05:04] Chriscrosser3310 commented on #952
After discussing with @frankharkins, we listed a more detailed outline. Notice this outline is subject to change as the project progresses, and the actual titles may differ. It's a bit rough currently and many things might be missing, so any opinion & ideas are welcomed.

1.  Introduction to ZX-calculus
- ZX-calculus is a graphical tool
- Concepts of spiders
- Rewriting rules
- ZX-diagrams and lin

[2021-03-17 12:02] filippotramonto commented on #964
Upon further analysis of the explained circuit implementation shown in the figure and in steps 1 through 4, it becomes clear that the index k is not the same index as the state of the target qubit to which the $UROT_k$ rotation is applied. This occurs only for when the target qubit is qubit 1. So it would be more correct to indicate the state two qubits with two indices different from k, for examp

[2021-03-17 20:40] HwajungKang commented on #964
I think CROT should have different subscript... So, in the sentence that @filippotramonto pointed out, the subscript of CROT should be 'j-k+1' instead of 'k' with  j-th qubit as control and k-th as target qubit.
Therefore, the sentence should be " The actions of $CROT_{j-k+1}$ on the two-qubit state..." to be consistent with the index of UROT in the QFT circuit figure in section 5 and the explanat

[2021-03-17 21:22] ausmarton opened #966 "[1.2] Half-adder diagram doesn't seem to match the description below it"
**The issue**
The half-adder diagram seems to be missing the `barrier`s here: [4.3 Adding with Qiskit](https://qiskit.org/textbook/ch-states/atoms-computation.html#4.3-Adding-with-Qiskit-)

The image used is: ![half adder without barriers](https://github.com/qiskit-community/qiskit-textbook/blob/1dcb286efbf883d6007bb6a2d494f31e75ef22d8/content/ch-states/images/half-adder.svg?raw=true)

And the tex

[2021-03-17 21:53] lebinyu commented on #966
I think the article is trying to show how to build a quantum adder step by step. The image you mentioned should be something like this:

![circuit-kmdyqkdm](https://user-images.githubusercontent.com/37998880/111543620-9d00db80-8773-11eb-907d-e080ae0d93a9.png)

It would be better if there is more space between two dash lines, but I don't know how to do that.

[2021-03-17 22:11] ausmarton commented on #966
@lebinyu Thanks for clarifying that. I think I get the intent there.
Is this what it should look like?
![half-adder-without-operations](https://user-images.githubusercontent.com/427908/111544989-3bd60980-876d-11eb-82f9-8eb0aa8bfb09.png)

Or would it be better without the labels and the arrows, like this?
![half-adder-without-operations-and-labels](https://user-images.githubusercontent.com/427908/1

[2021-03-17 22:55] lebinyu commented on #966
Yes, that's exactly what I mean. I think is better to keep the label.
How did you draw the circuits with emplty space in the middle, by the way?

[2021-03-17 23:25] ausmarton commented on #966
Actually, it was a very low-tech solution - I just modified the original image and got rid of the CX gates in Inkscape.
I was wondering how you generated an image which was styled a bit different from the original. Were you trying to render it from an actual circuit?

[2021-03-18 07:44] lebinyu commented on #966
I drew on the [IBM Q composer](https://quantum-computing.ibm.com/composer/files/new?initial=N4IgdghgtgpiBcICqYAuBLVAbGATABAMboBOhArpiADQgCOEAzlAiAPIAKAogHICKAQQDKAWXwAmAHQAGANwAdMOjCEs5XDHzz6MLOgBGARknLC2hWEV0SMAOb46AbQAsAXQuEb9wo-HvFigAeDo7S-mDBTobh%2BhAkJOgwJCFh1FGuab4ZTgDMMXEJSSnZjtGZfpl5FrBM5DYhfvgAtAB8RKHhNYx1mrmuzW0%2B0bI0IBqMnugADhgA9mCsIAC%2BQA), which the design has changed a little over

[2021-03-18 08:38] quantumjim commented on #966
For reference, here is image in the original version.

![image](https://user-images.githubusercontent.com/18051574/111596459-7b344280-87cd-11eb-9541-e1389c588f38.png)

The images @ausmarton made seem like great updates. I think the one with arrows is better for the explanation.

[2021-03-18 16:00] quantumjim opened #969 "Remove use of `.qregs` and `.cregs`for implicitly created registers."
**Describe the problem**

For circuits created with syntax such as `qc = Quantum(5,3)`, the contents of `qc.qregs` is due to change (beginning in Terra 0.18).

**Describe the expected solution**

Change any usage of this syntax. From a search of source, it looks like only
https://qiskit.org/textbook/ch-quantum-hardware/measurement-error-mitigation.html
is affected.

[2021-03-18 18:08] frankharkins commented on #954
@dhruvbhq yes these are great suggestions- will assign you. Thank you.

[2021-03-18 20:23] ausmarton commented on #966
@quantumjim Thanks for confirming that, I've now got a PR #967 with the image changed. Please let me know if there's anything that needs to be changed there

[2021-03-19 09:44] hykavitha commented on #335
@frankharkins : could you please assign this issue to me. I would like to take a look at it.

[2021-03-19 16:32] filippotramonto commented on #964
Yes, of course, what @HwajungKang says is correct to maintain a perfect consistency with the figure in section 5 and the explanation in the steps 1-4.
But I think that sentence is referring to a general $CROT_k$ applied to a general two-qubit state. In this point of the section it is not explained yet how the CROTs are applyied. So I think the important thing is that the index of CROT should be di

[2021-03-19 18:27] HwajungKang commented on #964
Yeah, that makes sense! I agree.

[2021-03-20 21:26] byulen opened #970 "[3.5] Inconsistency with the notation in chapter 3.5"
**Describe the issue**
There is an inconsistency with the notation in chapter 3.5 in particular between section 1 (introduction)
and section 4 (The Quantum Fourier Transform).

In section 1, |x> state is not defined at all. Actually, I think |x> is the same thing with |i> mentioned in the expression sum_{i=0}^{N-1} x_i |i>, that is, it is one of the basis states. Here, the vectors (x_0,x_1,...,x_{

[2021-03-22 08:17] thepadguy opened #972 "Calculating state purity after applying controlled gates to pure states"
**What should the reader gain from this new content?**
After reading this chapter the student will understand how purity of two (previously pure) states (target and control) changes when a controlled gate is applied to the system. He/she should be able to calculate this change of the purity, and with that knowledge be able to set up more precise and advanced experiments, that make better use of qu

[2021-03-24 01:12] kifumi opened #978 "Move the language switch to a more visible position"
**Describe the problem**
Many people might not be unaware of the language switch at its current location.
![image](https://user-images.githubusercontent.com/19249007/112238270-a31d1d80-8c87-11eb-8c60-5ca0efa89f41.png)

**Describe the expected solution**
Can you move the switch to a more visible position, for example at the top of the page?  In the Qiskit Documentation, it was also at the bottom of

[2021-03-24 10:48] kifumi opened #979 "Link to contribution guidelines on README.md"
**Describe the problem**
It is difficult to find [“Contributors Guide”](https://github.com/qiskit-community/qiskit-textbook/blob/master/CONTRIBUTING.md), so some people may hesitate to contribute.

**Describe the expected solution**
We should add the link of [“Contributors Guide”](https://github.com/qiskit-community/qiskit-textbook/blob/master/CONTRIBUTING.md) on README.md.

[2021-03-24 18:22] dhruvbhq opened #983 "Qiskit version cell not showing the version in its output in Section 5.2: Measurement Error Mitigation"
**Describe the issue**
In section 5.2: Measurement Error Mitigation, the cell at the end of the notebook, which displays the version of Qiskit and its components, does not show the version in its output as of now.
Link: https://qiskit.org/textbook/ch-quantum-hardware/measurement-error-mitigation.html
Screenshot:
![image](https://user-images.githubusercontent.com/61590679/112362934-fd0afb00-8cfa-11

[2021-03-25 05:10] navaneethsdk opened #984 "[1.2] The Atoms of Computation - Image inconsistent with the description"
While explaining the implementation of the [half adder using Qiskit](https://qiskit.org/textbook/ch-states/atoms-computation.html#4.3-Adding-with-Qiskit-), there is a paragraph that states "The dashed lines in the image are just to distinguish the different parts of the circuit". But clearly, the image does not feature any dashed lines causing confusion to an absolute beginner.
NOTE:
1. There is a

[2021-03-25 06:10] hykavitha commented on #865
@frankharkins  can you please assign this issue to @https://github.com/amitracal, As discussed Abhijith Mitra will work with me on HHL issues.

[2021-03-25 07:48] paniash commented on #984
@navaneethsdk Thanks for pointing this out. Looks like the chapter has undergone some updates the last time I checked and this wasn't an issue then. Possibly the paragraphs were not appropriately updated. I think it would be good to shift the order of the paragraph as you mentioned. Let's hear what others have to say. @frankharkins

[2021-03-25 12:31] #978 closed

[2021-03-25 21:26] amitracal commented on #883
Hi, @frankharkins please assign #883 to amitracal

[2021-03-26 16:01] Karl-Grantham opened #989 "[4.1.2] Qiskit Textbook VQE Example Bug"
**Describe the bug**
I have been trying to run the Qiskit Textbook VQE Example (https://qiskit.org/textbook/ch-applications/vqe-molecules.html#VQE-Implementation-in-Qiskit) with molecules other then LiH.
However, when I try and change the given molecule to anything else (H2, for example), it crashes with the following error message:
AttributeError: 'int' object has no attribute 'num_qubits'

**To

[2021-03-27 10:29] kitrakatpug21 opened #990 "QGAN example with two dimentional dataset like 100 rows 10 columns"
I was using qiskit.aqua.algorithms.QGAN library and using the QGAN method found difficulty in loading data of dimension 1000 rows x 10 columns. I was following qiskit's github tutorial for QGAN Learning and Loading Random Samples, I copied the exact code, just changed the dimension of dataset from [1000,] to [100,10]. However I did tested out that the tutorial with 1000 rows and 1 column data is w

[2021-03-27 13:41] paniash commented on #989
@Karl-Grantham Hi! The code output is already rendered correctly in the relevant notebook but is yet to be deployed to the site. Expect the same until the deployment.

[2021-03-27 13:45] paniash commented on #990
@kitrakatpug21 Hi! Could you specify to which chapter in the textbook this pertains to?

[2021-03-29 02:36] mingweii opened #994 "A typo in 3.9 Quantum Counting"
**Describe the issue**
About the error calculation, there is a sign typo that is inconsistent with the textbook Nielsen and Chuang:
In the code:
err = (math.sqrt(2*M*N) + N/(2**(m-1)))*(2**(-m))
**Describe what you expect to see**
According to Nielsen and Chunag, it should be
err = (math.sqrt(2*M*N) + N/(2**(m+1)))*(2**(-m))

The same typo also occurs at the function calculate_M.

[2021-03-29 12:07] #979 closed

[2021-03-29 12:15] #983 closed

[2021-03-29 12:31] #936 closed

[2021-03-29 12:59] #954 closed

[2021-03-29 14:28] #969 closed

[2021-03-29 15:45] frankharkins opened #998 "Search acts across all translations"
**Describe the bug**
When using the search function, the results contain pages from all translations, and not just the language the user is currently viewing in.

**To Reproduce**
1. Type something in the search bar (top right)
2. Press "enter"

**Expected behavior**
Only results from the language the user is viewing in should be displayed.

**Version info***
OSX, Firefox

**Screenshots**
![image

[2021-03-29 17:30] Dreamsoobinms commented on #957
And now, can you solve this problem? Please tell me the way. Because I still can't fix this problem at all.

[2021-03-30 00:13] amitracal commented on #865
![image](https://user-images.githubusercontent.com/69091655/112914750-6ce60080-90c2-11eb-8e4a-e424d75e11ea.png)
![image](https://user-images.githubusercontent.com/69091655/112914938-ce0dd400-90c2-11eb-9679-0bbcfe4d2c3d.png)

The output is 101 running the notebook as well as in the textbook, where are you getting 102 from ?

[2021-03-30 14:35] Morcu opened #1001 "Broken link in 3.6 Quantum Phase Estimation"
**Describe the issue**
There is a broken link in the section [3.6 Quantum Phase Estimation](https://qiskit.org/textbook/ch-algorithms/quantum-phase-estimation.html) in [1.2 Mathematical Foundation](https://qiskit.org/textbook/ch-algorithms/quantum-phase-estimation.html#1.2-Mathematical-Foundation-).

The url of  `Quantum Fourier Transform and its Qiskit Implementation` leads  to a `Page Not Found`

[2021-03-30 15:07] divshacker commented on #1001
Can I work on this @Morcu ?

[2021-03-30 15:14] Morcu commented on #1001
Sure!

[2021-03-30 15:43] divshacker commented on #1001
Done! @Morcu If it is fixed then feel free to close this Issue

[2021-03-30 17:22] divshacker commented on #631
May I work on this issue?

[2021-03-31 11:45] #1001 closed

[2021-03-31 15:43] mikaelhaglund opened #1005 "[6.3] A mixup of kinetic and potential energy in the LC circuit?"
**Describe the issue**
On page: content/ch-quantum-hardware/transmon-physics.ipynb

In the sentence "The Hamiltonian is the sum of the kinetic energy (represented by charge variable Q) and potential energy (represented by flux variable Φ)," I believe it should be the other way around.

**Describe what you expect to see**
"The Hamiltonian is the sum of the potential energy (represented by charge va

[2021-04-01 08:26] #445 closed

[2021-04-01 08:27] #994 closed

[2021-04-01 08:34] frankharkins commented on #871
Agreed, I don't think this needs explaining. Please reopen if you disagree.

[2021-04-01 08:34] #871 closed

[2021-04-01 09:17] hykavitha commented on #883
@frankharkins : I'll look at this issue with Abhijit

[2021-04-01 09:39] divshacker commented on #1005
May I work on this @frankharkins ?

[2021-04-01 09:52] divshacker opened #1007 "Can we Rename all content files with there chapter numbers given in Qiskit textbook"
**Describe the solution you'd like**
Sometimes it's get hard to navigate the qiskit textbook file on github repo. Ofcourse github link is given in qiskit textbook to contribute. But if we rename all the content files according to chapter numbers on github then it would be lot easier to find the correct files. I am not saying to rename the files but wanted to add the chapter numbers also.

**Additi

[2021-04-01 12:01] frankharkins commented on #1007
Thanks for the suggestion- I understand this can be a bit annoying, but I'm reluctant to make this change as I think it will be a lot of work for an inconvenience that only affects a handful of people.

Some (non-obvious) problems with this change are:
- Jupyter Book uses the filename to create the url, so the urls would all change, so we would need to add redirects for all pages to make sure we d

[2021-04-01 12:14] divshacker commented on #1007
Yeah, Make sense.
Thanks

[2021-04-01 12:14] #1007 closed

[2021-04-01 12:20] frankharkins commented on #953
Closed in #947

[2021-04-01 12:20] #953 closed

[2021-04-01 12:20] frankharkins commented on #989
Closed in #947

[2021-04-01 12:20] #989 closed

[2021-04-01 12:53] frankharkins commented on #631
closed in #1004

[2021-04-01 12:53] #631 closed

[2021-04-01 13:21] divshacker commented on #1005
Hey @frankharkins  can you assign me this issue.
Thank you

[2021-04-02 00:03] #964 closed

[2021-04-02 20:03] zyzhang1992 commented on #881
C is the scaling factor used in the rotation of the auxiliary qubit, conditioned on the eigenvalue. The rotational angle is given by arcsin(C/lamda), so C should be less than or eequal to the smallest eigenvalue.

When running the HHL algorithm, the lowest eigenvalue from QPE is unknown, so the chosen C may end up higher than some of the eigenvalues in eigenvalue register. In that case, it should

[2021-04-03 17:56] zyzhang1992 commented on #335
Looks like it has to do with the negative eigen values. In the case of [[-1/2, 0], [0, -1/2]], the eigenvalues are all negative and we need to set the eigs-negative parameter for the HHL module to true to get the correct answer. If that is set to be the default false, we will not get the correct answer.
In the other case of [[0, -1/2], [-1/2, 0]], there will be one positive and one negative eigenv

[2021-04-04 04:48] Chen-Jialin opened #1019 "[3.2] A minor mathematical mistake in 3.2 Deutsch-Jozsa Algorithm"
In 3.2 Deutsch-Jozsa Algorithm > 1.3 Quantum Solution, Step 5 of the algorithm, it write:
[code]
However, the correct probability should be
[code]

[2021-04-04 05:48] divshacker commented on #1019
May I work on this @Chen-Jialin ?

[2021-04-04 09:41] lebinyu commented on #984
I believe this issue has been discussed before in issue #966

[2021-04-05 15:08] mikaelhaglund commented on #1005
According to this video https://www.youtube.com/watch?v=SDiiFOham6Y (about 29 minutes in) I was wrong.

[2021-04-05 15:21] divshacker commented on #1005
Nope, you are right. @zlatko-minev

[2021-04-05 20:18] omarcostahamido opened #1025 "Qobj deprecated, notebook update needed."
**Describe the issue**
As I was reading [this lesson](https://github.com/qiskit-community/qiskit-textbook/blob/master/content/ch-quantum-hardware/calibrating-qubits-pulse.ipynb), I just noticed that it uses Qobj which throws `Passing a Qobj to Backend.run is deprecated`

[2021-04-05 20:58] omarcostahamido opened #1026 "calibrating-qubits-pulse.ipynb problems"
**Describe the bug**
There is a problem with [this notebook](https://github.com/qiskit-community/qiskit-textbook/blob/master/content/ch-quantum-hardware/calibrating-qubits-pulse.ipynb). In section 3.1 the fit, doesn't really fit. And the discrimination clouds are on top of each other.

**To Reproduce**
open the example in quantum lab

**Version info***
For qiskit problems, please provide the outpu

[2021-04-06 15:09] frankharkins commented on #1025
Closing as duplicate of #957

[2021-04-06 15:09] #1025 closed

[2021-04-06 15:40] frankharkins opened #1030 "Replace usage of statevector & unitary simulators with AerSimulator"
**Describe the problem**

Usage of qasm_simulator is being replaced in #1012 & we will need to follow suit with the statevectors and unitary simulators.

[2021-04-06 21:23] mavzolej commented on #957
I am getting this warning not when using `run()` manually but when calling

    qiskit.aqua.operators.converters.CircuitSampler( q_instance ).convert( expectation )

(where `q_instance` has IMBQ backend )
Is there a way to avoid this Warning?

[2021-04-07 07:37] frankharkins commented on #1005
@divshacker thanks for looking into this

[2021-04-07 23:02] lebinyu commented on #1026
The fitting problem you mentioned is probably due to the inappropriate initial parameters.
To reproduce your issue, I followed [section 3.1](https://qiskit.org/textbook/ch-quantum-hardware/calibrating-qubits-pulse.html#3.1-Calibrating-$\pi$-Pulses-using-a-Rabi-Experiment-) and got the Rabi oscillation:
![1](https://user-images.githubusercontent.com/37998880/113944649-2cdef600-9805-11eb-9efb-44afc6

[2021-04-08 15:32] chowington opened #1032 "Inconsistency in "Introduction to Quantum Error Correction via the Repetition Code" notebook"
Notebook: https://github.com/qiskit-community/qiskit-textbook/blob/master/content/ch-quantum-hardware/error-correction-repetition-code.ipynb

Under the section "Lookup table decoding", at the end of the section:

![image](https://user-images.githubusercontent.com/12377649/114054181-9ee32980-985d-11eb-810b-a67ac887efdf.png)

The value of `P` for `1` is not, in fact, higher than that for `0`, contra

[2021-04-09 04:09] omarcostahamido commented on #1026
@lebinyu very helpful. Thank you.
Did you create a PR with your suggestion?

[2021-04-09 06:17] lebinyu commented on #1026
I haven't yet, but I can pull an update soon.

[2021-04-09 09:23] Chen-Jialin opened #1033 "[3.7] Inconsistency symbol in figure Shor_circuit_1.svg"
Chapter 3.7 inserts figure `/images/Shor_circuit_1.svg`, where a multi-qubit Hadamard gate is applied on n qubits according to the context. The name of the multi-qubit Hadamard gate should be $H^{\otimes n}$, not $H^{\otimes t}$.

[2021-04-09 16:33] #881 closed

[2021-04-09 17:13] frankharkins commented on #883
@hykavitha @amitracal this is possibly fixed in #1018, can you check please?

[2021-04-09 17:32] zyzhang1992 commented on #312
Please assign this to me

[2021-04-11 04:27] jwoehr opened #1038 "Example in Hybrid quantum-classical Neural Networks with PyTorch and Qiskit errors out locally"
**Describe the bug**
The example in https://qiskit.org/textbook/ch-machine-learning/machine-learning-qiskit-pytorch.html runs on the web but errors out if copied to a notebook in a virtual environment with an up-to-date local Qiskit installation.

**To Reproduce**
Steps to reproduce the behavior:
1. Copy first 3 cells of cited page to a local Jupyter notebook.
2. Run each cell
3. 3rd cell errors a

[2021-04-11 05:52] jwoehr commented on #1038
The above is my own testing confirming the user's report.

[2021-04-12 13:37] #865 closed

[2021-04-14 10:59] TigrisCallidus opened #1039 "Maximum number of function evaluations exceeded on Variational Quantum Linear Solver"
**Observed behavior**

On the chapter VQLS https://qiskit.org/textbook/ch-paper-implementations/vqls.html when one runs the code above the text "As you can see, our cost function has achieved a fairly low value of 0.03273673575407443" one gets the message "Maximum number of function evaluations has been exceeded." after 200 runs. Further the last value one gets there is lower than the value specif

[2021-04-15 08:40] 1ucian0 commented on #1038
It was also mentioned by https://quantumcomputing.stackexchange.com/questions/16946/pytorch-and-qiskit-example-from-the-qiskit-textbook-seems-broken/16948

The workaround when `run` has only one `theta` (for example `circuit.run([np.pi])[0])` is to remove the circuit from the `get_count`  (in the example `result = job.result().get_counts()`.

If I understand correctly, the tutorial continues with

[2021-04-16 07:40] navaneethsdk opened #1041 "[2.2] Multiple Qubits and Entangled States - Could have included more information on Bell states for a better understanding of the concept."
[Section 2.2 ](https://qiskit.org/textbook/ch-gates/multiple-qubits-entangled-states.html#3.2-Entangled-States-) has done a great job in describing how a bell state can be obtained using the Hadamard gate and the CNOT gate. But since it discusses the operation only for one input configuration, |00⟩, there is a chance that a beginner in this field might misinterpret the state 1/√2(|00⟩+|11⟩) to be

[2021-04-18 03:15] rawanaziz commented on #957
hi ,I have faced the same problem, may please help me , or what did you do .
"Passing a Qobj to Backend.run is deprecated and will be removed in a future release. Please pass in circuits or pulse schedules instead."

[2021-04-18 10:43] divshacker commented on #1005
Hey @frankharkins  I have closed the Pull request as told by @nbronn . Kindly close this issue also.
Thank you

[2021-04-18 14:32] rawanaziz opened #1043 "Qojb problem"
when , I am  running  my code  the output :
 Passing a Qobj to Backend.run is deprecated and will be removed in a future release. Please pass in circuits or pulse schedules instead.
  job = backend.run(qobj, **backend_options, **noise_config)

what should i do may you  please help me ?

[2021-04-18 16:10] jwoehr commented on #1043
@rawanaziz , Qiskit code is constantly changing. The warning you have received is describing an upcoming change. In the present release, your code has no error: this is just a warning.

The change that is coming in future releases is this: all the functions which currently take a `Qobj` argument will take instead a `QuantumCircuit` or pulse schedule.

In your code, you may not have explicitly inst

[2021-04-19 10:58] frankharkins commented on #990
@kitrakatpug21 hi, it's not clear how this relates to the textbook so I'm closing this. I think this is an issue with qiskit terra / aqua so you should open an issue there. If you disagree, please reopen with some more information about where you found this in the textbook.

[2021-04-19 10:58] #990 closed

[2021-04-19 11:01] frankharkins commented on #957
@mavzolej is that code somewhere in the textbook? If not please open an issue in qiskit https://github.com/qiskit
@rawanaziz instead of:
[code]
Just do:
[code]

[2021-04-19 14:30] rawanaziz commented on #957
thanks alot

[2021-04-19 15:04] rawanaziz commented on #1043
thanks alot for helping me , the problem here that i am using QSVC to fit   it  by using ibmq_quito as backend  -real computer,- with simulators are working effectively .

[2021-04-20 13:02] frankharkins commented on #1043
closing as duplicate of #957

[2021-04-20 13:02] #1043 closed

[2021-04-21 15:09] frankharkins commented on #966
Closed in  #967

[2021-04-21 15:09] #966 closed

[2021-04-21 15:09] frankharkins commented on #984
Closed in #967

[2021-04-21 15:09] #984 closed

[2021-04-21 16:17] frankharkins opened #1046 "[4.1.3] QAOA labelling inconsistency"
**Describe the issue**
I received this email from a reader:

[2021-04-24 03:50] trietnb commented on #1030
@frankharkins Can I give this a try? Thanks!

[2021-04-24 21:54] rawanaziz opened #1048 "lassifaction reprot"
**Describe the problem**
hi,

I am working , 5 classes using QNN classifier with circuit QNN , I  faced a problem when I print the classification   report i found that:

![image](https://user-images.githubusercontent.com/61630088/115973843-bd853800-a560-11eb-8a9c-156d3f4309bf.png)

 the score that I got is 0.86 ?

[2021-04-25 02:15] aasfaw commented on #1048
This is not an issue related to any of the content in the textbook, but a question about a quantum computation. This is not the place for these questions, and we use issues to specifically focus on improving the content and presentation in the textbook. You may consider asking your questions on Stack Exchange instead.

[2021-04-25 02:15] #1048 closed

[2021-04-26 09:06] frankharkins commented on #1030
@trietnb yes actually, thank you. Please make the pull request to the [`qiskit-version-updates` branch](https://github.com/qiskit-community/qiskit-textbook/tree/qiskit-version-updates) instead of the master branch. Please also don't run any code cells (to keep the diff as small as possible).

[2021-04-28 19:54] singhmeet11 commented on #970
can I work on this ? @frankharkins

[2021-04-28 20:09] Mietzsch opened #1049 "[3.2] Problem 2: dj_problem_oracle(3) seems to be neither balanced nor constant"
In Problem 2 of Section 3.2 (Deutsch-Jozsa), when I try to find out if dj_problem_oracle(3) is constant or balanced, the result state seems to be neither 0000 nor 1111, but evenly distributed between all possible states. For the other dj_problem_oracle(i), i=1,2,4 my code seems to work.

Here's what I did (I just reused the code from cells above):
[code]

[2021-04-29 01:03] omarcostahamido opened #1050 "[2.2] image outside of range"
**Describe the issue**
in section 2.2 [here](https://qiskit.org/textbook/ch-gates/multiple-qubits-entangled-states.html) there is an image that is partly behind the right hand menu.
It is when the text says: `The operation looks like this:`
I'm not sure these are exported to matrices. I tried to look up the notebook [here](https://github.com/qiskit-community/qiskit-textbook/blob/master/content/ch-

[2021-04-29 06:05] divshacker commented on #1050
I think that image is caused because of overlapping of Right hand content menu. If you just click on the arrow near the left hand menu. It will hide the left menu and causes the overlapping to disappear.
![Screenshot from 2021-04-29 11-26-39](https://user-images.githubusercontent.com/55018955/116508393-e8fc7f80-a8de-11eb-88b4-3bd27fb9f92d.png)

[2021-04-29 06:07] divshacker commented on #1050
About what you saw on github link. I think that is already been fixed and updated on qiskit textbook. But maybe not on github

[2021-04-29 09:37] frankharkins commented on #1049
This is what I get from your code:

<img width="625" alt="Screenshot 2021-04-29 at 10 31 04" src="https://user-images.githubusercontent.com/36071638/116530486-024cfe00-a8d6-11eb-83fb-81b73f66abfa.png">

which works correctly as the probability of measuring |0000> is 0 (which means function is balanced). This is the reason I included this example (which was a bit harder to make) as most of the exam

[2021-04-29 09:39] declanmillar opened #1051 "[1.4] Issue with the X-basis measurement"
**Describe the issue**

<img width="849" alt="Screen Shot 2021-04-29 at 10 30 42" src="https://user-images.githubusercontent.com/14238050/116531149-c49ca500-a8d6-11eb-8cfc-6ad5cf04b6b2.png">

In Section 1.4 (see attached image), the paragraph on the X-measurement seems inconsistent with the code example above (see attached image). Also, as it's using the `qasm_simulator`, I don't think it's "outpu

[2021-04-29 10:49] Mietzsch commented on #1049
Ah, many thanks. I did not see that. My bad.

Then it is a great example. Thank you for the explanation.

[2021-04-29 10:49] #1049 closed

[2021-04-30 04:24] rawanaziz opened #1053 "QSVM running in real backend"
I am trying to run this for multiple times , there is no result how to run the QSVM classifier with real computer
i am using the following
![image](https://user-images.githubusercontent.com/61630088/116648076-d9377680-a984-11eb-9835-456113df87e0.png)

![image](https://user-images.githubusercontent.com/61630088/116647960-970e3500-a984-11eb-91bf-349f1b49c8fb.png)
kindly,help me

[2021-04-30 05:19] paniash commented on #1051
@declanmillar Hi! In the example, the intention is to *measure* the qubit along the X axis and hence using `qasm_simulator` makes sense.  :-)

[2021-04-30 05:35] declanmillar commented on #1051
Hi @paniash :). Yep, very true, but the comment on the last line of the code says "# Display the output state vector", which I think isn't quite right, given the sim in use. That's just a small comment from me though, I think the broader issue (if I've understood the intention) is that the paragraph the below plot doesn't match what the code is doing.

[2021-04-30 06:36] paniash commented on #1051
@declanmillar Yes, the comment could be changed to better make sense of what's being actually done.

Regarding the broader issue, you're right. The end result should always be 1 when the initial state is |-> before running `x_measurement()`. :-)

[2021-04-30 06:47] paniash commented on #1051
@declanmillar I've made the changes as a PR. Please let me know if it's alright or we could discuss over on #1054.

[2021-04-30 17:49] epelaaez opened #1056 "2 qubit universal variational form"
**Is your feature request related to a problem? Please describe.**
In the [simple variational forms](https://qiskit.org/textbook/ch-applications/vqe-molecules.html#Simple-Variational-Forms) section of Simulating Molecules using VQE, a universal variational form circuit is given for the 2 qubits case. The following circuit is given from [this](https://arxiv.org/pdf/quant-ph/0308033.pdf) paper.

![i

[2021-05-02 01:59] rawanaziz commented on #1053
may help me please also i found some limitations using limitation from source ,i will discuss but i need your help to use a real  computer

[2021-05-02 02:56] jwoehr commented on #1053
@rawanaziz this is the sort of question you want to ask on [Qiskit Slack](http://ibm.co/joinqiskitslack)

[2021-05-03 06:25] Stina-A opened #1060 "New section on quantum walks"
**What should the reader gain from this new content?**

After reading this chapter, the student will know the basics of quantum walks and implement a quantum walk search algorithm that finds a marked vertex in a 4-dimensional hypercube via a quantum walk. The student will learn how to implement a quantum walk on the hypercube and how this, together with the inverse Fourier transform and a phase es

[2021-05-03 15:28] diemilio opened #1061 "[5.2] Measurement of second qubit missing throughout the code"
**Describe the bug**
The last change to section 5.2 removed the use of registers (see [here](https://github.com/qiskit-community/qiskit-textbook/commit/c20c32bd1c07e1c9cb4f883fb7f523b62f811575#diff-ea77fec11436bf85febd83f8ba683ab60a8c74bd93cb089deba1edcdf75bf121)). Unfortunately, the change made only measures the first qubit in the code (qubit 0), but both qubits (qubit 0 and qubit 1) should be me

[2021-05-03 15:30] diemilio commented on #1061
Here are some screenshots of one of the problems this issue is causing:

Old code (expected behavior):
![image](https://user-images.githubusercontent.com/65074936/116897190-fbd6c300-ac02-11eb-9b3c-f7bc481f1eaf.png)

New code (erroneous result):
![image](https://user-images.githubusercontent.com/65074936/116897066-d9dd4080-ac02-11eb-8402-6d43426a565e.png)

[2021-05-04 18:07] dhruvbhq opened #1062 "[1.3] Inconsistency in using the word 'initialize'"
**Describe the issue**
In 1.3 (https://qiskit.org/textbook/ch-states/representing-qubit-states.html), the British spelling _'initialise'_ (with an _s_) has been used extensively. However, other sections of the textbook (for eg 4.1.2 https://qiskit.org/textbook/ch-applications/vqe-molecules.html) use the American spelling, which is _'initialize'_ (with a _z_).

**Describe what you expect to see**
T

[2021-05-04 20:41] divshacker commented on #1062
May I work  on this @dhruvbhq
Hey @frankharkins Can you assign me this ?

[2021-05-05 05:15] divshacker commented on #1062
Hey I have searched whole book and this spelling difference is not only in above linked chapter but also in many more.

[2021-05-05 06:37] dhruvbhq commented on #1062
From my side, you can go ahead with the fix @divshacker !

[2021-05-05 08:00] pptacher opened #1064 "inconsistency superdense coding chapter"
in the last line of step 3 - bob's operations:
-|11>+|10>   gives -|11> after H operation on rightmost qubit.

I think it should be
+|11>

also in the explanation text, for message "11", operation ZX is applied. in the python code XZ is applied though.

[2021-05-05 10:39] frankharkins commented on #1062
Yes you can make this change @divshacker, thank you

[2021-05-05 10:51] frankharkins commented on #1060
@Stina-A can you message me on Slack please to discuss further? [link](https://ibm.co/joinqiskitslack)

[2021-05-05 10:57] frankharkins commented on #1056
Is a new explanation necessary? Or would a short note and a link to further reading suffice?

[2021-05-05 11:15] TharrmashasthaPV opened #1065 "Minor error in sec.6.3.1"
**Describe the issue**
In the penultimate sentence of the third paragraph, it is mentioned "By sacrificing anharmonicity (the difference between the |0> -> |1> and |1>->|2> transition frequencies, see section on Accessing Higher Energy States), charge noise is suppressed ..." However, I think we don't sacrificing anharmonicity rather we sacrifice harmonicity to achieve the same.

**Describe what y

[2021-05-05 11:51] TharrmashasthaPV commented on #1065
Issue resolved.

[2021-05-05 11:51] #1065 closed

[2021-05-05 13:01] frankharkins commented on #1053
@rawanaziz I'm going to close this as I'm not sure what action you want to take. If you want to reopen, please make another issue following the template.

[2021-05-05 13:01] #1053 closed

[2021-05-05 13:24] #1005 closed

[2021-05-05 13:56] #18 closed

[2021-05-05 14:10] epelaaez commented on #1056
I think a short note would suffice since this doesn't play a major role on the example that the page focuses on. I agree that the VQE pages is already dense, so just a short note and references should be good.

[2021-05-06 06:06] paniash commented on #1064
@pptacher Hi! Regarding your first question, -|11> is valid since it's a global phase and doesn't physically change the qubit state.

I can partly see why ZX and XZ can create confusion. The intended operation is applying a Z gate first, followed by an X gate for the message "11".  I believe this is what is done in the code as well. Perhaps the table can be changed to "XZ" instead since for exampl

[2021-05-06 06:31] pptacher commented on #1064
Hi. I agree -|11> and |11> are physically equivalent. the mathematical result of applying H to the rightmost bit of -|11>+|10> is |11> though,  so why put -|11> ? in my opinion something has to be corrected.

for the second point, if the intended operation is to apply Z first then X, the corresponding mathematical operator is XZ and not ZX (even if in the circuit Z will be on the left and X on its

[2021-05-06 15:32] Stina-A commented on #1060
Proposed outline:

A short introduction on classical Markov chains (quantum walks are the quantum equivalence of a Markov chain) and quantum walks

How to quantize a Markov chain: describe the two most common models, quantum walk with coins and Szegedy’s quantum walk

Equivalence of coined and Szegedy’s quantum walk (important for the algorithm)

Implementation of one step of the quantum walk on a

[2021-05-06 16:47] rafal-pracht commented on #1061
May I fix this issue?

[2021-05-06 16:49] frankharkins commented on #1061
@rafal-pracht yes! Thank you

[2021-05-06 16:51] #1062 closed

[2021-05-06 17:06] rafal-pracht commented on #1061
@frankharkins I've just created pull request https://github.com/qiskit-community/qiskit-textbook/pull/1067

[2021-05-07 12:43] #1061 closed

[2021-05-07 13:34] #687 closed

[2021-05-07 13:46] #1051 closed

[2021-05-07 20:42] Karl-Grantham commented on #989
@paniash
Hi!
Could you please let me know when the next deployment will be?

[2021-05-08 00:34] the-legend-of-lia commented on #952
[intro_zx_circuit_model.pdf](https://github.com/qiskit-community/qiskit-textbook/files/6444811/intro_zx_circuit_model.pdf)
I'll put here, to keep track of it with this textbook chapter open issue, slides I made as a gentle introduction to the zx-calculus for those interested in applying it to augment the circuit model.
It was made to be accompanied by verbal narration, but (to anyone) feel free to

[2021-05-08 00:36] the-legend-of-lia commented on #952
[intro_zx_circuit_model.pptx](https://github.com/qiskit-community/qiskit-textbook/files/6444827/intro_zx_circuit_model.pptx)
powerpoint of above file.  Not sure why when exporting as pdf, the spiders became polygonal xD

[2021-05-08 00:57] the-legend-of-lia commented on #1056
May I suggest replacing the existing image with the optimal one, along with the half-sentence remark (with citation) that it optimally minimizes the number of parameters?

[2021-05-10 08:49] quantumAnsatz opened #1074 "Qiskit textbook lab solutions"
**Is your feature request related to a problem? Please describe.**
Quantum Computing Labs chapter of the texbook has no way to verify if the queries submitted are right.

**Describe the solution you'd like**
A separate file with the solutions similar to what is done in https://qiskit.org/learn/intro-qc-qh.

**Describe alternatives you've considered**
An alternative solution is to add more content

[2021-05-11 05:49] Fedacc opened #1082 "Chapter 4.1.5: error "Data for experiment could not be found""
**Description**
When executing the jupyter notebook for this chapter within the Quantum Lab, the implementation of the QuantumCircuit class returns one error when trying to retrieve the results from the execution of the experiment on the simulator.
On the other hand, in the textbook environment it works just fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://qiskit.org/textb

[2021-05-11 14:48] rafal-pracht commented on #1082
@Fedacc  Isn't this duplicate of https://github.com/qiskit-community/qiskit-textbook/issues/1038 ?

[2021-05-12 15:29] Fedacc commented on #1082
@rafal-pracht you are right, I did not see it before in my initial search.
I will close this as the issue is already covered there

[2021-05-12 15:29] #1082 closed

[2021-05-14 12:54] #1033 closed

[2021-05-14 14:06] frankharkins commented on #1030
@trietnb did you manage to take a look at this?

[2021-05-14 14:08] trietnb commented on #1030
@frankharkins I'm pushing it today, Frank. Been busy with other deadlines.

[2021-05-15 09:22] #1038 closed

[2021-05-15 09:41] frankharkins commented on #1019
Closed via #1019

[2021-05-15 09:41] #1019 closed

[2021-05-15 09:46] #1032 closed

[2021-05-16 05:38] Mertcikla opened #1090 "[3.5] Recursion description is incorrect."
In chapter 3.5, under 8.2 General QFT Function implementation, it is mentioned that:
"Using a function inside another function is called recursion."

This is incorrect. Recursion refers specifically to a function calling itself.

[2021-05-16 07:13] bachbao opened #1091 "Issue with notebook "Accessing Higher Energy States""
**Describe the issue**
The notebook  "Accessing Higher Energy States" in chapter 6: Investigating Quantum Hardware Using Microwave Pulses is having an error as the SamplePulse class was renamed qiskit.pulse.library.Waveform in August 2020. Therefore, this notebook needs updating.
**Describe what you expect to see**
Expect to see the code using Waveform class instead of SamplePulse.

[2021-05-16 10:56] divshacker commented on #1091
Hey @bachbao I would like to work on this issue. By reading above you mean one just need to change name from "SamplePulse" to "WaveForm"?
If yes then I am going to edit the code and just post the output screenshots here. Please let me know if I am right or not. Then After that I will push that accordingly.
Thank you

[2021-05-16 14:36] bachbao commented on #1091
I have already tried to replace the class SamplePulse by qiskit.pulse.library.Waveform but the result (graph) after executing still turns out to be wrong. Therefore, I don't know how to achieve the correct graph in the notebook rightnow

[2021-05-16 15:17] divshacker commented on #1091
Yup same here I am also getting wrong graphs.  Hey @frankharkins  can you help or can you please tag someone who can help

[2021-05-16 16:10] divshacker commented on #1090
Hey I have done that editing and made the PR accordingly. Please let me know if any further changes needed
Thank you

[2021-05-17 06:38] almogsr opened #1094 "Gates Labeling Inconsistency"
**Describe the bug**
In Qiskit textbook chapter 3.9 Quantum Counting, there is an issue of inconsistency in how labels for gates are visualized.
qft_dagger.label = "QFT†"
and
cgrit.label = "Grover"
don't generate the same graphics

**To Reproduce**
go through the existing steps in this chapter, and after the Draw() command in 2.4 you can see the problem in the graphics

**Expected behavior**
Eithe

[2021-05-17 08:03] divshacker commented on #1094
They will not generate same graphics because there is a difference between two.
The below code is from the notebook itself  that you are talking about.
`# Create controlled-Grover
grit = example_grover_iteration().to_gate()
cgrit = grit.control()
cgrit.label = "Grover"`
If you see this code then the label attribute is applied to `cgrit` and not on `grit`. If you apply it on `cgrit` then it will na

[2021-05-17 13:47] #1090 closed

[2021-05-17 18:29] #970 closed

[2021-05-17 20:09] shil-m opened #1095 "Typo in section 1.2"
This is what is given:
`The command qc.measure(j,j) adds a measurement to our circuit qc that tells qubit j to write an output to bit j.`
Expected is:
`The command qc_output.measure(j,j) adds a measurement to our circuit qc that tells qubit j to write an output to bit j.`

[2021-05-18 18:51] catskillsresearch opened #1097 "Jaynes-Cumming notebook doesn't work with any simulator including all the fakes"
**Describe the issue**

I tried using this notebook

https://github.com/qiskit-community/qiskit-textbook/blob/master/content/ch-quantum-hardware/Jaynes-Cummings-model.ipynb

with Aer simulators and all the Fake simulators.

It ran up to a point with the single-qubit fake (Athens I think).  With larger qubit fakes either they didn't have the necessary default configuration information or they ran o

[2021-05-19 13:38] bopardikarsoham commented on #1095
Ohh yes! I would like to work on this issue!

[2021-05-19 14:08] frankharkins commented on #1095
@bopardikarsoham thank you! Assigned

[2021-05-19 14:24] #1094 closed

[2021-05-19 15:02] priyanshi-git opened #1099 "Standard Ket Notation in Qiskit Textbook"
**Is your feature request related to a problem? Please describe.**
In Qiskit Textbook, the ways to see our quantum state are limited, such as

1) We can use **Statevector Simulator** to visualize our quantum state but that only give us an array of the amplitude of our possible quantum state
For example, if we have a quantum circuit named qc with only one qubit and we applied qc.i(q[0]) then the re

[2021-05-19 15:06] bopardikarsoham commented on #1095
Yes I have a put a pull request #1100 for the same

[2021-05-19 15:45] divshacker commented on #1095
At last you did your first contribution @bopardikarsoham
Congrats

[2021-05-19 17:05] Abhigyan-Mishra commented on #1099
I am willing to help out with this.

[2021-05-19 17:52] bopardikarsoham commented on #1095
No mate @divshacker I have done one or two before. But anyways thanks!

[2021-05-20 02:43] td2014 opened #1101 "Section 5.1 (Quantum Error Correction) possible swapped arguments in code example using function "lookuptable_decoding""
**Describe the issue**

In the following textbook section:

https://qiskit.org/textbook/ch-quantum-hardware/error-correction-repetition-code.html#Lookup-table-decoding

there is a code example at the end of that section (just before the last paragraph) which calls the function _lookuptable_decoding()_  as follows:

`P = lookuptable_decoding(raw_results,table_results)  `
`print('P =',P)
`

If one c

[2021-05-20 03:12] SakibulIslamSazzad opened #1102 "would like to add a new tutorials for quantum repeaters and quantum network!"
**What should the reader gain from this new content?**
Harnessing communication using quantum mechanics, there should be quantum internet. Hence there should be a tutorial using Qiskit for quantum Internet and communication. One of the key components of the quantum communication is quantum repeater, that I am missing in the textbook

**Where do you expect this new content to fit in with the curren

[2021-05-20 08:30] divshacker commented on #1101
Yes you are right https://qiskit.org/documentation/stubs/qiskit.ignis.verification.lookuptable_decoding.html#qiskit.ignis.verification.lookuptable_decoding
I have found this.
Hey @frankharkins  Can you assign me this ?

[2021-05-20 11:11] divshacker commented on #1101
Done @td2014 @frankharkins

[2021-05-24 12:02] frankharkins commented on #1099
There is someone working on this already in Qiskit/qiskit-terra#6154. I think best course of action is to wait for that to be merged and then take advantage of it in the textbook.

[2021-05-24 16:52] #1101 closed

[2021-05-25 11:14] frankharkins commented on #1102
@SakibulIslamSazzad how do you propose to use Qiskit for this? I don't know anything about quantum repeaters so not sure what tools we have for it in Qiskit.

[2021-05-25 13:59] kafee651 opened #1118 "Typo, Content mismatch"
**Content shown in the page https://qiskit.org/textbook/ch-states/single-qubit-gates.html is not matching with git page**

**Describe what you expect to see**
qiskit.org page: ![image](https://user-images.githubusercontent.com/3341517/119510633-4d501900-bd8f-11eb-9e1b-c74322eb72d6.png)
in Gethub page: ![image](https://user-images.githubusercontent.com/3341517/119510742-66f16080-bd8f-11eb-84cb-e87b

[2021-05-25 14:02] divshacker commented on #1118
May I work on this @kafee651 ?

[2021-05-25 14:06] SakibulIslamSazzad commented on #1102
@frankharkins I shared some links the issue but it didn't came out. Whatever Quantum Repeaters (QR) is analogue to amplifiers in communications. I am using general explanations, technically may be incorrect. In classical communications, errors, noise etc happened after a certain amount of channel lengths, hence an amplifier is used to copy the initial the bit states. In Quantum Communication, we c

[2021-05-27 10:12] divshacker opened #1121 "Suggestion for a better way of representation of qiskit version info."
**Is your feature request related to a problem? Please describe.**
No it is not related to a problem.

**Describe the solution you'd like**
There is a last cell in every qiskit textbook file containing the version info of qiskit. I want to suggest a better way of representation.
Use this

%qiskit_version_table

Instead of this

qiskit.__qiskit_version__

**Describe alternatives you've considered**

[2021-05-27 10:19] dhruvbhq opened #1122 "[5.5 The Density Matrix and Mixed States]: Some thoughts"
**Describe the problem**
I think some things can be added in this section for better clarity for first time readers.

**Describe the expected solution**
In [5.5.2 Mixed States](https://qiskit.org/textbook/ch-quantum-hardware/density-matrix.html#2.-Mixed-States-), The content states:
"In general, a mixed state consisting of an ensemble of n pure states can be expressed in the form of a list of outc

[2021-05-27 10:44] diemilio commented on #1122
Hi @dhruvbhq. I actually think this is a better place to keep track of issues in PR #514 because that has been closed and it will be difficult for others to find.

So, here is the list of issues/recommendations so far:

1. Tensor product notation in the chapter does not follow qiskit's qubit ordering.

2. The Reduced Density Matrix section may be rewritten to have a better flow and be less overwhe

[2021-05-27 13:45] #1118 closed

[2021-05-27 14:37] frankharkins commented on #1099
I'm going to close this because this is being worked on in terra, please reopen if you disagree

[2021-05-27 14:37] #1099 closed

[2021-05-27 14:45] frankharkins commented on #1118
Looks to be fixed on the site

[2021-05-27 14:46] frankharkins commented on #1121
I'm happy to use the version table, I think it's useful to see the OS. What does the `%qiskit_copyright` do? Is it necessary?

[2021-05-27 14:48] frankharkins commented on #1091
Thanks for tagging me, I'm not sure what the solution is, but someone else is currently working on this.

[2021-05-27 15:33] divshacker commented on #1121
I wiil remove it. It accidentally came with the screenshot. I will not pust it in my pr.Well If you see the code that I have given above apart from screenshot doesn't have the `%qiskit_copyright`.

[2021-05-27 16:33] dhruvbhq commented on #1041
Hi! The discussions in #708 and #720 might be of help.

[2021-05-27 17:04] bachbao commented on #1091
Great, thanks

[2021-05-28 10:02] taketakeyyy opened #1126 "In Japanese edition, there is no image about half adder of chapter 4.3"
**Describe the issue**
In Japanese edition, there is no image about half adder of Chapter "4.3 Qiskitで足し算を行う".

https://github.com/qiskit-community/qiskit-textbook/blob/master/i18n/locales/ja/ch-states/atoms-computation.ipynb

（日本語版において、"4.3 Qiskitで足し算を行う"章の半加算器に関する画像がありません。）

**Describe what you expect to see**
If you have the image, add it please. If you have no image, I think that it is ok to a

[2021-05-28 14:56] frankharkins commented on #1121
I say let's leave it out

[2021-05-28 14:58] frankharkins commented on #1102
@SakibulIslamSazzad ok, I think this should live in the 'demos' section. Can you please write a draft table of contents so we can see what the page will look like?

[2021-05-28 15:47] divshacker commented on #1121
Yeah sure, So do I start making PR?

[2021-05-29 11:55] rupeshknn commented on #1091
Can I give it a try?

[2021-05-29 12:00] divshacker commented on #1091
Sure you can.

[2021-05-29 12:01] rupeshknn commented on #1091
@frankharkins I was also thinking of replacing the sideband method using the more direct `SetFrequency` method to perform spectroscopy of |1> to |2>

[2021-05-30 03:01] SakibulIslamSazzad commented on #1102
@frankharkins yes, I can do that. I am on it.

[2021-05-30 07:22] rupeshknn commented on #1091
@divshacker @bachbao is this the correct graph you guys were referring to?
![image](https://user-images.githubusercontent.com/33568503/120095841-ce1f6400-c145-11eb-827f-1396217e47d6.png)

[2021-05-30 07:33] paniash commented on #1126
@taketakeyyy Hi! Looks like a web-hosted image was being used in the notebook. The url however doesn't contain an image anymore. I have opened a PR for the same. Thanks for reporting this!

[2021-05-30 09:14] bachbao commented on #1091
The frequency sweep pulse schedule seems correct can you show me the graph of the frequecy sweep?

[2021-05-30 12:31] rupeshknn commented on #1091
Okay, so there are a couple of issues I found.

1. Running the default `drive_power=0.3` gave 2 peaks for the 0-->1 spectroscopy (run on real `'ibmq_armonk'`)
![image](https://user-images.githubusercontent.com/33568503/120102035-c9b77300-c166-11eb-8072-cdedc0d42c2f.png)

After this point, I started using the Aer pulse simulator since I realised I had to change some parameters and the real device h

[2021-05-30 12:46] rupeshknn commented on #1091
@frankharkins  is there anyone currently working on it or should i create a  new issue and start working on a PR?

[2021-05-31 07:12] divshacker commented on #1091
Hey the changes look good. I am curious about how the driver_power is giving wrong results for 0.3 and and working for 0.1 .
Is there any change done in SamplePulse to WaveForm that is affecting this ?

[2021-05-31 08:08] pritamsinha2304 commented on #1102
@SakibulIslamSazzad So you are working on this also ?

[2021-05-31 08:09] pritamsinha2304 commented on #1095
Is this fixed ?

[2021-05-31 08:33] divshacker commented on #1095
Yes it is fixed check #1100

[2021-05-31 09:26] pritamsinha2304 commented on #1095
@divshacker Ok. But why is this still open ?

[2021-05-31 09:31] divshacker commented on #1095
Well I don't know maybe @bopardikarsoham  would know it

[2021-05-31 09:31] rupeshknn commented on #1091
No, this is before the sideband comes into the picture. This is Just the 01 spectroscopy.
if you look at the 1 to 2 spectroscopy theory given in the textbook, there are 2 ways to achieve it:
![image](https://user-images.githubusercontent.com/33568503/120168263-4e17fd80-c21c-11eb-822d-7034899beede.png)
 the `drive_power=0.3` gives roughly two peaks, the 2nd peak stands for the 0 to 2 transition. So

[2021-05-31 09:39] bopardikarsoham commented on #1095
I have given a pull request regarding this issue and have informed the IBM team @divshacker @pritamsinha2304. They will give me a review on it and my PR #1100 will get merged.

[2021-05-31 10:12] pritamsinha2304 commented on #1095
@bopardikarsoham Ok. cool.

[2021-05-31 10:17] pritamsinha2304 commented on #1121
@divshacker Is it fixed ?

[2021-05-31 10:46] rupeshknn commented on #933
"Stave Vector" is technically the correct word. Many terms in python have no spaces in between like `qiskit.pulse.ShiftPhase` etc but in all those cases qiskit has appropriate uppercasing to emphasise that. However `qiskit.quantum_info.Statevector` doesn't seem to follow that nomenclature. I personally feel we must use "StateVector"

[2021-05-31 11:04] #1095 closed

[2021-05-31 11:04] shil-m commented on #1095
Sorry, it's closed now.

[2021-05-31 11:22] divshacker commented on #1121
I am working on it .
@pritamsinha2304

[2021-05-31 11:27] pritamsinha2304 commented on #1121
@divshacker Ok. Cool

[2021-05-31 21:41] flow-g commented on #1064
@paniash I just stumbled across the same issue. I absolutely agree with @pptacher about the action of the Hadamard gate..

It doesn't matter that the states are physically equivalent. Mathematically they are not. H(0) |1-> = |11> there is nothing to debate about. Maybe more importantly from a pedagogical point of view this should be corrected.

On the order of the displayed operation for sending t

[2021-06-02 09:45] SakibulIslamSazzad commented on #1102
@frankharkins I have written a draft about contents on overleaf. I am sharing it with you. Let me know if you can get access to it. [](https://www.overleaf.com/read/jssdttrgjnmz)

@pritamsinha2304 yes I am working on it.

[2021-06-02 11:28] #1121 closed

[2021-06-02 11:53] pritamsinha2304 commented on #328
@frankharkins Is anyone working on the traveling salesman problem ?

[2021-06-02 14:31] khanalg44 opened #1136 "Class QuantumCircuit conflicts with qiskit QuantumCircuit"
**Describe the bug**

When running the notebook on `Chapter 4.1.5` titled `Hybrid quantum-classical Neural Networks with PyTorch and Qiskit` the defined class `QuantumCircuit` clashes with the qiskit module `QuantumCircuit`

** Proposed Solution**
Rename the class `QuantumCircuit` as something else: for example `QuantumCircuitLocal`

**To Reproduce**
Steps to reproduce the behavior:
0. put `from q

[2021-06-02 14:40] divshacker commented on #1136
Hey @khanalg44  can you please specify which environment you are using (Cloud/Local)? because I can not reproduce this error in my local machine

[2021-06-02 14:51] 0sophy1 commented on #952
If you need someone to do this, I want to join! I'm a CQC research scientist intern (and also Qiskit advocate) :)

[2021-06-03 10:01] paniash commented on #1136
@khanalg44 Hi! In the chapter, we are not really using `QuantumCircuit` provided by qiskit but rather implementing our own. As such there are no clashes with importing. The clash only occurs if you import explicity (as you mentioned in the OP) but is not required in the code examples present in the chapter.

Hope this helps. :-)

[2021-06-03 11:37] khanalg44 commented on #1136
@paniash Thanks for responding. You got my point. Working with qiskit circuits and having a class named QuantumCircuit confused me and the code itself to use which one. I solved it by renaming the class as QuantumCircuitLocal and it works.

[2021-06-03 11:37] #1136 closed

[2021-06-04 08:42] frankharkins commented on #490
I'm going to close this since the density matrix chapter is merged and there have been no updates on this for a while. Please reopen or make a new issue if you disagree with this decision.

[2021-06-04 08:42] #490 closed

[2021-06-05 11:48] shil-m commented on #933
Hi, could you cite where you found this anomaly? From what I saw, places where simulator has been referred to it is "statevector"  and other wise in content it is "state vector" which is the correct way of representing I suppose. Could you highlight where are you expecting to change it? In the documentation or content?

[2021-06-05 13:28] rupeshknn commented on #933
Check out 1.3 in the qiskit textbook. The same was linked by @omarcostahamido.

[2021-06-05 20:53] shil-m commented on #933
Thank you! I completely missed it. So, I would like to work on this issue. I believe "state vector" is the correct representation of the word/words but in the python code it is referred to as "statevector" and not  "StateVector" so indicating that it is one word. Any suggestions on which one to implement? I believe we should go with the grammatically correct representation i.e. "state vector". Wha

[2021-06-06 06:16] rupeshknn commented on #933
So there are two parts to this. The First would be to replace "statevector" in the textbook contents with "state vector". The second would be to replace "statevector" in qiskit terra with "StateVector".

I actually wanted to take care of this issue. You could maybe open one on terra?

[2021-06-06 20:44] omarcostahamido commented on #933
I am glad other people are engaging with this issue now.
I have to admit that, even though I recognize "state vector" as the technically _correct_ word, I thought it would be nice to have the new formulation "statevector" that is immediately recognized as a "state vector" being referred to in the context of QC. "statevector" is also easier and faster to write. In any case, going with one or two wo

[2021-06-07 09:50] shil-m commented on #933
I am not sure if I can work on the issue with qiskit terra.

[2021-06-07 10:15] shil-m commented on #870
Hi, I want to work on this. I understood the change you expect with mentioning the column vector, could you tell me, do you wish to change the title to conjugate transpose or add a new section with conjugate transpose or incorporate within Inner product?

[2021-06-07 11:06] prakity commented on #870
Hi,

I believe both changes are needed.

Philip

IPaw Powered

[2021-06-07 11:50] divshacker commented on #870
btw it's [1.3#[2.1]] @frankharkins. I wouldn't have know if screenshot wasn't there. XD

[2021-06-07 14:11] shil-m commented on #870
Hi, I am sorry I didn't understand the other change you expect. You want a new Reminder Section with Conjugate Transpose in it?

[2021-06-07 16:01] prakity commented on #870
Yes please.  Explain conjugate transpose

IPaw Powered

[2021-06-08 09:26] shil-m commented on #870
Great, will do that.

[2021-06-08 09:38] shil-m commented on #870
Also, do I need to get assigned to make a pr? If yes, pl assign me. Thank you :)

[2021-06-08 15:00] pritamsinha2304 commented on #328
@frankharkins Any comment on this one.

[2021-06-10 03:56] shil-m opened #1152 "[8.1] Vectors: "Down" the x-axis"
**Describe the issue**
Section: Vectors and Vector Spaces
`This vector can be visualized as an arrow pointing in the direction of  3 units down the x axis and 5 units up the y axis:`
I think using "down" the x axis is ambiguous. It doesn't really tell about a particular direction especially when we are using "up" the y axis. So, it sounds a bit confusing.

**Describe what you expect to see**
In my

[2021-06-10 04:06] divshacker commented on #1152
Hey @shil-m I think it is a great Idea. of using `along` instead of `up` or `down`. May I work on this issue or you want to take this also ?

[2021-06-10 06:21] shil-m commented on #1152
@divshacker Oh, I already made the changes. Just about to make a PR :)

[2021-06-10 20:59] Jwala-1908 opened #1158 "Plotly graphing library for visualization of Bloch sphere."
### **Describe the problem**

Sometimes it is difficult to pinpoint where the arrow denoting the statevector is pointing on a Bloch Sphere,
like in the following case-

![bloch](https://user-images.githubusercontent.com/53686844/121589887-3f6bea80-ca55-11eb-8ebf-f5fc35bf3f23.png)

It is not clear (without additional input about the state) whether the arrow lies in the "xz"-plane or the "xy"-plane.

[2021-06-10 21:22] divshacker commented on #1158
I think it is a great idea. But this issue is not at the right place. I think opening this issue in Qiskit/qiskit will be best I suppose.

[2021-06-11 08:23] #1152 closed

[2021-06-11 09:44] frankharkins commented on #1158
@Jwala-1908 this looks really nice, but I agree with @divshacker. We did experiment with having visualizations available via a separate `qiskit-textbook` Python package but it just seemed to confuse people.

[2021-06-11 09:49] Jwala-1908 commented on #1158
Thanks for your input @frankharkins ! I'll propose the enhancement to qiskit-terra then, since that's where the visualizations are implemented.

[2021-06-11 21:11] Costor opened #1160 "Wrong definition of RZ in qiskit textbook, it is the phase gate P"
Hi,
I believe the Qiskit textbook gives a wrong definition of RZ [here](https://qiskit.org/textbook/ch-states/single-qubit-gates.html#5.-The-R%CF%95-gate--) in the chapter on simple gates and Rphi alias RZ.
What is described there by the explicit matrix definition is actually the phase gate P [PhaseGate](https://qiskit.org/documentation/stubs/qiskit.circuit.library.PhaseGate.html#qiskit-circuit-li

[2021-06-12 11:01] riya-m commented on #1046
@frankharkins I would like to resolve the issue

[2021-06-12 15:32] paniash commented on #1160
@Costor Hi! Thanks for reporting this. Having a quick glance at the references, I would go with the former choice and replace all instances of Rphi with P. Let's see what others have to think about it. @frankharkins

[2021-06-12 15:41] paniash commented on #1160
I've made a PR for now, going with the former choice. Let's come to a common consensus and I'll modify the PR accordingly. :-)

[2021-06-13 15:01] epelaaez commented on #1056
I think there are two ways of including this in the textbook. The first would be replacing the current image plus the sentence before for a new sentence plus image that shows the optimal variational form. The second would be adding a note after what is currently on the textbook clarifying that there is a more optimal variational form and linking to the paper: [Optimal Quantum Circuits for General

[2021-06-13 17:43] EgrettaThula opened #1163 ""Single Qubit Gates" section seems outdated"
**Is your feature request related to a problem? Please describe.**

The last two paragraphs in "Single Qubit Gates" section are:

My notes:
- U1, U2, and U3 are deprecated.
- This [page](https://quantum-computing.ibm.com/services), displays a different set of gates as the physical gates.
- Qiskit provides the square root of X a name since version 0.20.0 (SX gate)

**Describe the solution you'd lik

[2021-06-14 08:29] frankharkins commented on #1158
I'll close this issue then  :)

[2021-06-14 08:29] #1158 closed

[2021-06-14 14:39] #808 closed

[2021-06-14 15:42] epelaaez commented on #1163
Adding to the list of things outdated in that section, #1160 found that the definition of Rz is wrong and is actually the definition of P.

And just one consistency/aesthetic comment. On the textbook, the U3 gate (that should be changed to U) is defined as follows:

![image](https://user-images.githubusercontent.com/63567458/121919620-7aad3880-cd37-11eb-8d54-f43c622bbb61.png)

And in the documenta

[2021-06-15 01:38] dimple12M commented on #675
Hi, Can I share  in terms of jupyter notebook examples related to identities section of single qubit gates.

[2021-06-15 14:54] frankharkins commented on #1160
@paniash @Costor is this fixed in #1161?

[2021-06-15 14:55] paniash commented on #1160
AFAIK, yes.

[2021-06-15 15:06] #870 closed

[2021-06-15 19:15] diemilio commented on #1122
one more for the list:

6. Under Trace and Positivity Conditions:
_2. The matrix must be positive-definite:_ should instead be _2. The matrix must be positive semi-definite:_

[2021-06-16 08:06] frankharkins commented on #1102
@SakibulIslamSazzad thanks for writing up the proposal draft. The topics look well thought out and interesting, but after discussing with colleagues, I think this is out of scope of the textbook at the moment. We don't really have anywhere for it to live, and the textbook / qiskit is more focused on algorithms.

[2021-06-16 08:06] #1102 closed

[2021-06-16 10:39] shil-m commented on #1122
Hi @diemilio @dhruvbhq  , I think I can help resolve some of the issues pointed out. Can I work on this?

[2021-06-16 11:57] diemilio commented on #1122
Hi @shil-m!

Yeah, I will be OK if you take a shot at it. I was planning to do most myself, but I am having a hard time finding time to do it.

Just let me know once you complete them so I can start crossing them out on this list.

Thanks.

[2021-06-17 09:40] shil-m commented on #1122
@diemilio  In point 3, I am not sure what change are you expecting. I can't see a typo in "probabilistic".

[2021-06-17 09:56] tgag17 commented on #1163
Hi! Can I work on this issue? Thank you!

[2021-06-17 10:34] dhruvbhq commented on #1122
I can see it is incorrectly written as "probabilisitc" (notice the last 4 characters 🙂 ).

[2021-06-17 10:36] shil-m commented on #1122
Thanks @dhruvbhq . It tricked my eyes somehow :)

[2021-06-17 10:51] shil-m commented on #1122
3, 4, 5, and 6 resolved in #1166

[2021-06-17 12:20] diemilio commented on #1122
Thanks @shil-m. For number 4, I am a bit concerned that "Hilbert space" is not introduced before in the qiskit textbook.

Here, $p_j$ represents classical probability and n can be anything not necessarily equal to the dimension of the underlying Hilbert Space.

How about:

Here, $p_j$ corresponds to the *classical* probability of the system being in state $|\psi_j \rangle$, and the total number of

[2021-06-17 15:11] shil-m commented on #1122
@diemilio This looks better indeed. I will change this.

[2021-06-19 08:34] shil-m commented on #1122
I forgot to mention, pls take a look #1166

[2021-06-21 11:49] #957 closed

[2021-06-21 12:22] frankharkins commented on #1160
Thank you!

[2021-06-21 12:22] #1160 closed

[2021-06-21 12:23] frankharkins commented on #1126
closing via #1131

[2021-06-21 12:23] #1126 closed

[2021-06-21 12:33] frankharkins opened #1170 "Update code in Japanese translation"
**Describe the issue**
Some of the code cells in the Japanese translation of the textbook are outdated and might not work with the latest version of Qiskit. These files need to be updated by a Japanese speaker to match the English version of the textbook (under `i18n/locales/ja/`):

- [ ] `ch-algorithms/shor.ipynb`
- [ ] `ch-algorithms/defining-quantum-circuits.ipynb`
- [ ] `ch-algorithms/simon.ip

[2021-06-21 13:11] pritamsinha2304 opened #1172 "TSP using QPE and Quantum Coin Game"
**What should the reader gain from this new content?**
Implementing Travelling Salesman problem using Quantum Phase Estimation and Quantum Coin Game. One can learn how to use QPE to solve problem and Quantum Coin Game using entanglement.

**Where do you expect this new content to fit in with the current content?**
In the Games and Demos Section.

**What material should this new content be based on

[2021-06-21 14:22] #1163 closed

[2021-06-22 06:02] pritamsinha2304 commented on #1172
@frankharkins I would like to do this 2 projects for the contribution for Qiskit advocate. Is that okay ?

[2021-06-22 11:08] emi-aimy commented on #1170
@frankharkins
I would like to do ch-ex/hello-qiskit.ipynb.

[2021-06-23 10:11] frankharkins commented on #1172
@pritamsinha2304 thanks for proposing to write this, can you share a draft table of contents for the chapter so we can see what you're planning on including please?

[2021-06-23 10:22] pritamsinha2304 commented on #1172
@frankharkins Thanks for replying. I will share with a draft table of contents within 1-2 days.

[2021-06-23 15:54] epelaaez commented on #1056
@frankharkins I've opened a pull request (#1173) implementing option 1 from my previous comment, please let me know if any changes should be made.

[2021-06-25 05:01] kUmezawa commented on #1170
@frankharkins
I would like to do ch-quantum-hardware/calibrating-qubits-pulse.ipynb , accessing_higher_energy_states.ipynb and transmon-physics.ipynb.

[2021-06-25 08:34] frankharkins opened #1180 "Update text referring to qiskit simulators"
**Describe the issue**

Since the introduction of `AerSimulator` as the preferred simulator, we have some text in the textbook that doesn't match with the code. For example:

Here I think '`aer_simulator`' has been added through find-all-replacing statevector simulator, but the paragraph still feels slightly off and I think we're meant to use `aer_simulator` over `qasm_simulator`.

**Describe what

[2021-06-25 08:35] frankharkins commented on #1091
Fixed, thanks!

[2021-06-25 08:35] #1091 closed

[2021-06-25 09:00] divshacker commented on #1180
May I work on this issue ?
@frankharkins

[2021-06-25 09:18] frankharkins commented on #1180
Yes, thank you!

[2021-06-25 15:56] pritamsinha2304 commented on #1172
@frankharkins I have included a brief table of contents of what am I planning to introduce.
[https://www.overleaf.com/project/60d30c729bd20b1e646fbfa9](Link to Overleaf)

[2021-06-25 17:12] SakibulIslamSazzad commented on #1172
@pritamsinha2304, and me decided to work on together on this project. I think its okay, @frankharkins.

[2021-06-26 05:59] Rukhsan commented on #800
@HTransistor  The Glauber operator is part of time dependent Schrieffer-Wolff transformation. Myself and Nick Bronn are working to add more content around SWT to make it more accessible.

[2021-06-26 06:00] Rukhsan commented on #800
@frankharkins Just to keep you posted that me and @nbronn are going to fix this very soon.

[2021-06-27 06:19] divshacker opened #1191 "[3.10] Problems in simulator used in content and code"
**Describe the issue**
In this section of textbook clearly two simulation methods are used Statevector and Qasm . But there is a problem in content as these simulation method are part of `aer_simulator`. One can clearly see that only `aer_simulator` is defined in code but the statevector and qasm are used in content.

**Describe what you expect to see**
I think one should fix the content and chang

[2021-06-27 11:22] charmerDark commented on #647
Hey @frankharkins  Maybe I could try writing this section.? I feel the introduction page to the `Investigating Quantum Hardware using Quantum Circuits ` section could have this content . All the sections before it seemed to have some introductory matter in the first pages. And as for content, some intuition on superconducting dot qubits, NV center qubits, trapped ion qubits and the continuous vari

[2021-06-28 09:47] frankharkins commented on #1191
We need to change the text (not the code), e.g. "Using the statevector simulator" -> "Using statevector simulation"

[2021-06-30 05:26] taketakeyyy commented on #1170
Hello, @frankharkins
I would like to do ch-algorithms/deutsch-josza.ipynb.

[2021-06-30 14:06] tgag17 commented on #1191
Hi! Can I work on this issue?

[2021-06-30 14:17] divshacker commented on #1191
Sure go ahead!

[2021-07-02 08:25] taketakeyyy commented on #1170
In relation to #1169, I think `ch-algorithms/deutsch-josza.ipynb` has already been done.

[2021-07-02 15:47] taketakeyyy opened #1196 "[3.3 ベルンシュタイン・ヴァジラニ アルゴリズム] s=11 -> s=011"
**Describe the issue**
https://qiskit.org/textbook/ja/ch-algorithms/bernstein-vazirani.html#4.-%E6%BC%94%E7%BF%92-

s=011 の間違いではないでしょうか？（英語版だとs=011です）

**Describe what you expect to see**
s=11 -> s=011

[2021-07-02 16:03] divshacker commented on #1196
May I try to work on this ?

[2021-07-02 16:13] divshacker commented on #1196
Done @taketakeyyy

[2021-07-03 06:14] taketakeyyy opened #1198 "[1.3 量子ビット状態を表現する] p ( | x ⟩ ) = | ⟨ x | ψ ⟩ | 2? or | ⟨ ψ | x ⟩ | 2?"
**Describe the issue**
こんにちは。日本語で失礼します。

https://qiskit.org/textbook/ja/ch-states/representing-qubit-states.html#2.1-%E9%9D%9E%E5%B8%B8%E3%81%AB%E9%87%8D%E8%A6%81%E3%81%AA%E3%83%AB%E3%83%BC%E3%83%AB-

上記のURLにおいて、

とありますが、英語版では、

となっています。そして、英語版のほうが正しいと思います。

確かに、`p(|x⟩)` の値を求めるのに `|⟨ψ|x⟩|2` と `|⟨x|ψ⟩|2` の値は同じになりますが、一般に `⟨ψ|x⟩=⟨x|ψ⟩*` であり、交換法則は成り立たないはずです。そして「状態 |ψ⟩ を状態 |x⟩ で測定する確率を見つける」という文脈においては、`

[2021-07-05 13:02] #1196 closed

[2021-07-06 18:51] jonathan322021 commented on #1198
Can you type  in english the issue, the global community will be able to fix this?

[2021-07-06 19:22] jwoehr commented on #1198
Google Translate does a pretty good job. Slightly cleaned up:
---------------------------------------------------------------------------------------

**Describe the issue**
Hello. Excuse me in Japanese.

https://qiskit.org/textbook/ja/ch-states/representing-qubit-states.html#2.1-%E9%9D%9E%E5%B8%B8%E3%81%AB%E9%87%8D % E8% A6% 81% E3% 81% AA% E3% 83% AB% E3% 83% BC% E3% 83% AB-

At the above URL

[2021-07-07 04:59] jonathan322021 commented on #1198
In my opinion I think that's correct,how want to modify the formula.

[2021-07-08 16:38] frankharkins commented on #1046
Thanks, sorry I missed this. Closed via #1162

[2021-07-08 16:38] #1046 closed

[2021-07-08 16:38] #1030 closed

[2021-07-09 09:18] #500 closed

[2021-07-09 09:18] #899 closed

[2021-07-09 14:00] #1064 closed

[2021-07-09 14:04] #1191 closed

[2021-07-09 20:07] Indeximal commented on #204
Did this ever get implemented? In my quest to do it myself I noticed the jupyter version used doesnt seem to support pdf creation.

[2021-07-12 21:01] delapuente opened #1205 "Deploying `master` no longer makes sense"
**Describe the bug**
Deploy scripts of the textbook still check if deploying on `master` but `master` has been renamed to `main` and the below checks are out of date:
https://github.com/qiskit-community/qiskit-textbook/blob/ae4fac52accd499df8df40a286831e4c55f110c2/.github/workflows/deploy.workflow.yml#L15

@frankharkins do you still need more than one deployment?

This is related to https://github

[2021-07-12 21:18] vabarbosa commented on #1205
@delapuente when i look at the GitHub action i see it reference `main` (not `master`):

https://github.com/qiskit-community/qiskit-textbook/blob/main/.github/workflows/deploy.workflow.yml#L15

[2021-07-14 11:03] frankharkins commented on #1205
I didn't even know we were deploying master. It would be quite useful to view the main branch - where is the link for this?

[2021-07-14 22:15] delapuente commented on #1205
Haha, I think we are no longer doing it but we will have previews in the new textbook @frankharkins !

[2021-07-16 16:29] j125330 opened #1213 "Wrong text in Qiskit-Learning-material: CX-Gate revisited"
I think there is an error in the Qiskit Learning material
In https://learn.qiskit.org/course/introduction/entangled-states#the-cx-gate-revisited-20-0
the sentence „If we do the cx now, we will see an effect. It flips the target qubit to as well.“ may be wrong.
I think it is the control Qubit that flips also. So the text should be: „If we do the cx now, we will see an effect. It flips the control q

[2021-07-16 18:32] nepomechie opened #1214 "Deutsch-Jozsa Algorithm: Sec 2. Worked example"
## Describe the Issue
1. The function corresponding to the specified oracle has not been provided. I believe that the function in question is f(x_0,x_1) = x_0 \oplus x_1 (see the attached note DJ_oracle)
2. A check that the proposed circuit indeed
[DJ_oracle.pdf](https://github.com/qiskit-community/qiskit-textbook/files/6832689/DJ_oracle.pdf)
 implements the corresponding phase oracle is not provi

[2021-07-17 07:13] divshacker commented on #1213
Hey I would like to work on it. This Entangle state chapter is not in Old qiskit-textbook and added in qiskit-textbook beta only.
Am I right?
Because If this bug is from the beta version then it can't be fixed by contributors as beta version of textbook code is not public yet

[2021-07-17 15:49] shil-m opened #1215 "Content bug in [1.3[2.1]]"
**Describe the issue**
In the "Reminder: The Inner Product" section, the elements of the bra vector-matrix in the inner product notation have been separated by commas.
![Screenshot (140)_LI](https://user-images.githubusercontent.com/61791872/126042458-49841072-03cd-4521-a3f7-2d88f15d588d.jpg)

**Describe what you expect to see**
Since in a matrix, the elements are not supposed to be separated by c

[2021-07-17 17:31] divshacker commented on #1215
Done

[2021-07-18 07:57] j125330 commented on #1213
Hi Divanshu
I think you're right. It's an Issue in the Beta-Version.

[2021-07-18 13:53] #1215 closed

[2021-07-19 10:33] pritamsinha2304 opened #1218 "Quantum String Matching Algorithm"
**What should the reader gain from this new content?**
How we can implement quantum side of string matching algorithm.

**Where do you expect this new content to fit in with the current content?**
Algorithms/Applications

**What material should this new content be based on?**
There is 2 different approach of quantum string matching. I intend to implement both-
1. Using Cyclic Shift Operator - http

[2021-07-21 10:27] frankharkins commented on #1218
I'm happy to go ahead with (1), I think it would fit nicely in the applications chapter. I have some reservations about including (2); I can't see any mention of runtimes for the quantum algorithm, and I'm not sure about 'probabilistic quantum memory'.

[2021-07-22 02:28] mohitd opened #1223 "Inconsistent ket notation in Quantum Fourier Transform"
**Describe the issue**
In Section 6 of the Quantum Fourier Transform section, the wavefunctions in the equations don't use the ket notation that previous sections use.

**Describe what you expect to see**
The same ket notation used in previous sections is used consistently throughout the page.

[2021-07-25 05:19] mohitd opened #1227 "Inconsistent ket notation in Quantum Phase Estimation"
**Describe the issue**
In Section 1.2 of the Quantum Phase Estimation section, the wavefunctions in the equations early on don't use the ket notation that previous sections use. Later in the article, the notation becomes standardized.

**Describe what you expect to see**
The same ket notation used in previous sections (and later) is used consistently throughout the page.

[2021-07-25 06:14] mohitd commented on #1198
I agree with @taketakeyyy on the inconsistency and proposed bug fix. From my understanding, a general Hilbert space's inner product is not symmetric but rather conjugate symmetric (as previously stated in equation form). I didn't see anything earlier in the article assuming the amplitudes were real numbers so the arbitrary wavefunction needs to be a ket/vector and the particular state we're intere

[2021-07-26 03:41] taketakeyyy commented on #1198
Thank you everyone for your opinion. I will make a PR to fix it.

[2021-07-26 08:32] AbeerVaishnav13 opened #1237 "Problem in drawing circuit for conditional measurement using multiple classical registers"
### Describe the bug
The `qc.draw()` function does not draw the quantum circuit properly if we change the order of classical registers while initializing the `QuantumCircuit()` instance if there is a measurement in the circuit that is conditioned on the output of some other classical register.

### To Reproduce
![Screenshot 2021-07-26 at 1 48 35 PM](https://user-images.githubusercontent.com/306327

[2021-07-26 11:14] frankharkins commented on #1237
Hi, this is a problem with  [Qiskit](https://github.com/Qiskit/qiskit-terra), can you please open an issue there? I will close this here.

[2021-07-26 11:14] #1237 closed

[2021-07-26 11:47] AbeerVaishnav13 commented on #1237
I'm really sorry @frankharkins . That happened by mistake.  I'll put up another issue in the Qiskit repo. Thanks for the correction.

[2021-07-26 12:31] frankharkins commented on #1237
Don't apologise! It's not a problem- just making sure you get heard in the right place

[2021-07-27 10:54] divshacker commented on #1214
Hey @nepomechie
I found that the function you suggested for the oracle in qiskit textbook is correct. Also your phase oracle is correct. May you please  tell where you are suggesting these changes to add ?
Also may I work in this  issue?  🙂

[2021-07-27 18:23] nepomechie commented on #1214
Hello,

Thank you for responding to the “issue" that I posted.

It is my first “issue", so I am not familiar with the process.

Regarding your questions:

As noted in the post, I am suggesting to add this in the part of the textbook on Deutsch-Jozsa Algorithm: Sec 2. Worked example.

In the worked example, the oracle function is given without any explanation. My suggestions are to:

(1) provide a

[2021-07-28 12:26] #1227 closed

[2021-07-28 12:28] #1223 closed

[2021-07-29 10:17] #1213 closed

[2021-07-29 10:18] frankharkins commented on #1213
Should be fixed now.

[2021-07-29 13:25] frankharkins commented on #934
Thanks everyone for your great work!

[2021-07-29 13:25] #934 closed

[2021-08-02 15:10] #1214 closed

[2021-08-05 10:25] #762 closed

[2021-08-05 16:08] shil-m opened #1256 "Dummy text in Lesson Notes"
**Describe the issue**
In https://learn.qiskit.org/course/quantum-hardware/introduction-to-quantum-error-correction-via-the-repetition-code, under the "Lesson Notes" section, "dummy text" appears at several places in the definition/meaning and there is a repetition of `$frac{1}{\sqrt {2}}$`.

![Screenshot (156)_LI](https://user-images.githubusercontent.com/61791872/128382909-2a7af7a3-098d-49d7-867

[2021-08-09 07:12] pjxiao opened #1257 "pylatexenc is required when circuit_drawer is mpl"
**Describe the issue**

1. I set `circuit_drawer = mpl` in `~/.qiskit` as mentioned in the optional steps 'Steps to reproduce exact prerendered output as given in qiskit textbook' [1]
2. I ran the codes in ['Your first quantum circuit'](https://learn.qiskit.org/course/introduction/the-atoms-of-computation#your-first-quantum-circuit-3-23)
3. Then I caught a following error while running `qc.draw()`

[2021-08-09 07:28] divshacker commented on #1257
Hey @pjxiao it is already written and recommended to use a clean anaconda environment to install and run qiskit and I suppose when you use anaconda then you won't face this issue as most of the dependencies are already installed in it. Correct me if I am wrong

[2021-08-09 07:35] pjxiao commented on #1257
@divshacker
You're right. It seems that the reason why I caught this error was I didn't use anaconda. So I close this issue.

Thanks,

[2021-08-09 07:35] #1257 closed

[2021-08-09 09:51] #1198 closed

[2021-08-11 04:43] parsidd opened #1258 "Problem in the copy button of the first code cell of HHL algorithm"
Clicking on the copy button of the first code cell in the HHL algorithm"
![image](https://user-images.githubusercontent.com/61804899/128970728-4b128012-1578-4d97-a210-e04358e852a6.png)

 seems to copy the previous text cell instead:
![image](https://user-images.githubusercontent.com/61804899/128970759-f89320d4-8805-4798-9c7b-96764bf9c4ee.png)

[2021-08-12 04:15] divshacker commented on #799
Hey @HTransistor I would like to work on this issue. I agree with your first point. The sigma_x should change to sigma_z.
For point 2 can you please describe it more what exactly you are expecting to add to provide more context to [sigma_+, sigma_-]?

[2021-08-12 07:58] HTransistor commented on #799
It looks like [sigma_+, sigma_-] = -sigma_z
[sigma_-, sigma_+] = sigma_z. I think it is a good idea to mention this, to get a more fluent read on the calculations.
You could even get into more detail sigma_+- = sigma_x +- i * sigma_y and use the commutator relations.

[2021-08-16 20:55] nbronn commented on #799
Hi there! Those commutation relations are correct, but the $\sigma^x$ arises from the $\sigma^+ + \sigma^-$ that arises in in the last term of the first equation when the qubit drive is set to be real, $\Omega^* = \Omega$ (in general, a complex drive just changes the angle of the axis in the x-y plane of the Bloch sphere which the qubit is driven around).

[2021-08-16 21:19] frankharkins commented on #960
Finally fixed, sorry for the wait

[2021-08-16 21:19] #960 closed

[2021-08-16 21:48] divshacker commented on #799
Well If we choose previous version as correct one then still that doesn't answer from where sigma_x came from. I think we need to define sigma_x and sigma_z to bring more clarity ?
I am happy to have suggestions 🙂

[2021-08-17 09:42] frankharkins commented on #952
@Chriscrosser3310 are you still working on this?

[2021-08-17 09:44] frankharkins commented on #1205
@delapuente @vabarbosa can I close this issue?

[2021-08-17 10:06] Chriscrosser3310 commented on #952
Yes, I paused for a while because I got busy with some other summer job, but I recently asked @0sophy1 to join and we’ll keep working on this. Although we might not be able to make any promise on when to finish.

[2021-08-17 16:56] nbronn commented on #799
For clarity, perhaps the reader can recall that $\omega^{\pm} = \frac{1}{2} (\sigma^x \mp i\sigma^y)$ is the definition of the spin raising/lowering operator. If one chooses $\Omega$ to be real, then $\Omega^* = \Omega$ in the first equation above, then we are left with only the $\sigma^x$ term, because $\sigma^x = \sigma^+ + \sigma^-$ from the definition. If instead, we chose $\Omega$ to be purel

[2021-08-18 04:28] mohitd opened #1266 "[3.11] Inconsistent qubit ordering within Quantum Teleportation and Superdense Coding"
**Describe the issue**
In the previous section on Quantum Teleportation, in the math, Alice's qubit is first in the pair while Bob's qubit is the second in the pair. Earlier, we stated that Qiskit uses reverse ordering so the code example still makes sense. However, the ordering for the math is flipped in the Superdense Coding where it uses the same ordering as the code example (Alice's qubit is t

[2021-08-18 04:45] mohitd opened #1268 "[3.10] Broken hyperlink for "Understanding Quantum Teleportation" section header"
**Describe the issue**
The hyperlink for the "Understanding Quantum Teleportation" section header is not linked to the section header, but rather the text after it.

**Describe what you expect to see**
The link should encompass the "Understanding Quantum Teleportation" section

[2021-08-18 13:33] frankharkins commented on #1050
This equation should be broken up over three lines. I.e.:
[code]

[2021-08-18 13:38] frankharkins commented on #933
I have been writing 'statevector' but agree we should go with 'state vector' in the textbook. This can be fixed with a find/replace over all the notebooks. If I were to do this myself, I would use [nbconvert](https://nbconvert.readthedocs.io/en/latest/) to distinguish between text in markdown vs code cells, similar to [this script](https://github.com/qiskit-community/qiskit-textbook/blob/main/scri

[2021-08-18 13:41] #1268 closed

[2021-08-18 18:36] #799 closed

[2021-08-21 16:35] mayankkaizen opened #1273 "conjugate transpose of Pauli Y matric is wrong"
Please refer to [this section of The Density Matrix & Mixed states](https://qiskit.org/textbook/ch-quantum-hardware/density-matrix.html#3.-Properties-of-the-Density-Matrix--). in the example under "Unitary Evolution", conjugate transpose of Pauli Y matrix is wrong.

It should be `[[0, -i],[i,0]]` in place of `[[0, i],[-i,0]]` because Pauli's matrices are Hermitian which means they are their own co

[2021-08-21 17:14] divshacker commented on #1273
May I work on this ?

[2021-08-21 17:17] jwoehr commented on #1273
First one who opens a PR wins :)

[2021-08-23 14:53] frankharkins commented on #1273
While I know this is light hearted, it's best to always check first to avoid duplication of effort :)

[2021-08-23 15:08] jwoehr commented on #1273
You're right, of course, Frank, but in this case @divshacker and I had discussed PR life-in-general in Slack DM and I was pretty sure the road was clear on this one. Thanks for the reality check!

[2021-08-23 18:04] #1273 closed

[2021-08-24 08:23] #1266 closed

[2021-08-24 13:07] #1205 closed

[2021-08-24 14:55] frankharkins commented on #1074
FYI, we're working on this. We won't publicly release the lab solutions, but an automatic verification is on the cards.

[2021-08-24 15:58] quantumAnsatz commented on #1074
@frankharkins what cards?

[2021-08-25 10:36] frankharkins commented on #1074
It's a turn of phrase, means it's possible / likely to happen.

[2021-08-30 23:08] dhruvbhq opened #1279 "2.4: Code snippet says %qiskit_version_table but output shows dict"
**Describe the issue**
The code snippet at the end of [section 2.4](https://qiskit.org/textbook/ch-gates/more-circuit-identities.html) seems to be intended to display the Qiskit version table. However, what currently appears is the Qiskit (and component) versions in a dictionary.
![image](https://user-images.githubusercontent.com/61590679/131416912-ca85fdc2-b1af-4d2c-b4d0-963b6abb0b05.png)

**Desc

[2021-08-31 14:56] epelaaez commented on #652
@diemilio @AnDa-creator @frankharkins was it decided if the chapter on QI will be worked on? I couldn't found any further issue or PR concerning this. If the QI chapter is still planned, I would like to know if there has been any progress so I can collaborate :)

[2021-09-01 12:13] divshacker commented on #1279
Done

[2021-09-01 12:17] #1279 closed

[2021-09-03 00:06] diemilio commented on #652
Hi @epelaaez. How are you? Cool name!! As far as I know, there currently isn’t anyone working on the rest of the chapter. The Density Matrix section that I worked on was merged a little while ago, but it is under the hardware chapter right now. I think that having the density matrix is a good start, and it would be definitely worth adding more sections to finally have a chapter on QI. It is obviou

[2021-09-03 10:09] epelaaez commented on #652
HI @diemilio. Yes, I'm interested in working on the **Benchmarking of states and gates** described on the structure you provided. I think the outline you provided sounds good. I just did a few changes I think would be good, so my proposal looks like:

- Background (could be based on section *II. Notation and Background* of the paper [*Gate fidelity fluctuations and quantum process invariants*](htt

[2021-09-07 11:26] frankharkins commented on #652
@epelaaez thanks for offering to contribute, you can start working on the background section. As soon as you have a first draft, please make a PR so we can give early feedback.

[2021-09-08 12:41] #1256 closed

[2021-09-13 08:32] frankharkins commented on #1218
@pritamsinha2304 any news on this? If not I will close the issue

[2021-09-13 13:28] #1218 closed

[2021-09-13 13:29] frankharkins commented on #1218
Please reopen if you want to continue with this.

[2021-09-14 05:03] amirebrahimi opened #1286 "Beta version of site isn't rendering LaTeX correctly"
**Describe the issue**
I was looking at the beta version of this chapter here:
https://learn.qiskit.org/course/quantum-hardware/introduction-to-quantum-error-correction-via-the-repetition-code

and it renders as such (missing the % sign):
![image](https://user-images.githubusercontent.com/904110/133197807-439b61e4-d34e-47c9-8f89-19de558c4198.png)

**Describe what you expect to see**

It should ren

[2021-09-22 18:51] Andrew-Kamen opened #1288 "Typo in Chapter 6.6: Measuring the Qubit ac-Stark Shift"
**Describe the issue**
"where a and a† are the raising a lowering operators of the resonator photons"
**Describe what you expect to see**
"where a and a† are the raising and lowering operators of the resonator photons"

[2021-09-22 19:22] bopardikarsoham commented on #1288
I would like to work on this issue @Andrew-Kamen

[2021-09-23 07:04] bopardikarsoham commented on #1258
@parsidd @frankharkins Can you please link the HTML file to this notebook?   I am not able to find it in this repository.

[2021-09-24 10:16] frankharkins commented on #1258
@bopardikarsoham thanks for taking a look. We're using an outdated version of jupyter book to generate the HTML for the website. I've marked this as "wontfix", which means this problem should not be worked on. This is because the issue has an easy workaround (highlighting / copy-pasting) and we're switching to some new software for the new textbook beta (see [learn.qiskit.org](learn.qiskit.org)).

[2021-09-24 19:43] dhruvbhq opened #1291 "[6.1]: Could it be good to have a "gentle" introduction before/in 6.1 Calibrating Qubits with Qiskit Pulse?"
**Describe the problem**
The first notebook in chapter 6. Investigating Quantum Hardware Using Microwave Pulses is about the calibration of qubits with Qiskit Pulse [(here)](https://qiskit.org/textbook/ch-quantum-hardware/calibrating-qubits-pulse.html). This chapter is very rich in content and covers a variety of important experimental techniques.

However, going by the general "flow" of the textb

[2021-09-27 14:04] 1ucian0 opened #1293 "[1.2.3 and 1.2.4] It could be simpler"
**Is your feature request related to a problem? Please describe.**

The first circuit description does not make use of new features, shortcuts, and ergonomics, such as `measure_all`

**Describe the solution you'd like**
Here are the code boxes for 1.2.3:
[code]

For 1.2.4:
[code]

**Describe alternatives you've considered**
For 1.2.3, it could be just the following:

[code]

For 1.2.4, it could be

[2021-09-27 14:33] divshacker commented on #1293
I think the content written along the code needs to be changed too as it is totally based on the code boxes given.
May I work on this @1ucian0 @frankharkins ? 🙂

[2021-09-30 09:03] frankharkins commented on #1293
Yes thank you @divshacker.

[2021-09-30 09:19] frankharkins commented on #1291
I agree this would be nice, if you (or anyone else) wants to have a go at this, you should speak to @nbronn and @amirhassank who wrote a lot of these chapters.

[2021-09-30 11:17] divshacker commented on #434
I suppose it maybe fulfilled by #1282

[2021-09-30 12:13] dhruvbhq commented on #1291
Thanks, I would love to contribute. (I am an MSc student at TU Delft in Applied Physics (Quantum computing track)).

[2021-10-04 09:58] #434 closed

[2021-10-04 21:45] QRiddler commented on #599
Hi! @frankharkins can you assign it to me? I would like to work on it

[2021-10-04 21:48] QRiddler commented on #1050
Can I work on this @frankharkins ?

[2021-10-05 15:36] #1293 closed

[2021-10-09 04:43] QRiddler commented on #1050
@frankharkins is qiskit participating in hacktoberfest2021?

[2021-10-09 12:35] QRiddler commented on #599
👀🙄🥱 @frankharkins

[2021-10-15 01:17] dimple12M commented on #675
@divshacker yes.

[2021-10-18 21:59] kevinhartman opened #1309 "[Atoms of Computation] Classical bit explanation for measurements"
**Is your feature request related to a problem? Please describe.**
Currently, it isn't mentioned that measurements are performed into classical bits, and thus the measurement timeline part of the circuit timing diagram can be confusing for newcomers.

For instance, when I was completing [this section](https://qiskit.org/textbook/ch-states/atoms-computation.html#4.3-Adding-with-Qiskit-), I got trip

[2021-10-20 09:02] divshacker opened #1312 "Update issue templates to latest one"
**Describe the problem**

**Describe the expected solution**
GitHub has rolled out new issue forms for public repository.
https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/
Please check this out.
I recently got to know about this Feature. It will be good if we implement this in this repository.

[2021-10-21 13:45] #1309 closed

[2021-10-22 03:53] thspreetham98 opened #1317 "Outer products is wrongly represented"
**Outer product is wrongly represented**
on https://qiskit.org/textbook/ch-states/single-qubit-gates.html, collapsible section named “Reminder: Multiplying Vectors by Matrices”
![Single Qubit Gates](https://user-images.githubusercontent.com/18625772/138390629-132ce61b-e36e-49a9-8aa3-4ee87bc6d897.png)

**This is expected**

![Single Qubit Gates 2](https://user-images.githubusercontent.com/18625772/

[2021-10-22 14:15] NikosGavalas opened #1318 "Coprime missing in implementation of c_amod15 gate in Shor's Algorithm section"
**Describe the issue**

The implementation of the modulo gate used in the Shor's algorithm section is the following:

[code]

**Describe what you expect to see**

Shouldn't it include **4** in the list of acceptable values of _a_? 4 and 15 are co-primes. Am I missing something?

It should look like this I think:

[code]

[2021-11-01 09:35] #1312 closed

[2021-11-10 09:38] #719 closed

[2021-11-17 17:58] mriedem opened #1327 "Fail to pip install qiskit-textbook-src with latest setuptools (59.1.1)"
### Describe the problem

setuptools 59.0.0 intentionally fails on `description` fields in setup.py that have newlines:

https://github.com/pypa/setuptools/pull/2870

There is an open issue for it https://github.com/pypa/setuptools/issues/2893 but since they intentionally made it a breaking change I'm assuming they won't fix it which means it needs to be fixed in libraries with newlines in the des

[2021-11-17 18:26] #1327 closed

[2021-11-25 13:06] 1ucian0 opened #1331 "[4.1.2 Simulating Molecules using VQE] Code example uses Aqua, which is on deprecation path"
### Describe the issue

The code example in https://qiskit.org/textbook/ch-applications/vqe-molecules.html still uses qiskit-aqua, which is being deprecated and it is going to be removed from Qiskit soon (maybe in the next release?):

[code]

### Describe what you expect to see

Some part of the text also mention Aqua. The code and the related text needs to be adapted to remove all the references

[2021-11-30 08:55] wanihakse opened #1334 "[1.3] Errors in plot_bloch_vector_spherical()"
### Describe the bug

Hello! I am a beginner with qiskit.
While working in Chapter 1.3 of Bloch sphere representation to show the 3D image, I got an error of "AttributeError: 'Arrow3D' object has no attribute 'do_3d_projection'"  and a blank figure.
I just used the original code with matplotlib to display. (Code and version info are pasted below.)
It would be very appreciated if you could tell me

[2021-12-05 09:21] max-simon commented on #726
I use a virtual environment on my local machine and I had the same issue. I had to run `pip install numexpr` manually to make this work.

[2021-12-07 11:45] ronf6co opened #1338 "[QFT] Quantum Fourier Transform Mistake"
### Describe the issue

In this file:
https://github.com/qiskit-community/qiskit-textbook/blob/main/content/ch-algorithms/quantum-fourier-transform.ipynb
There is a mistake.
This formula is wrong:
![image](https://user-images.githubusercontent.com/13406570/145023369-dc53be27-6227-4066-814a-7f59e38ea369.png)

### Describe what you expect to see

it should be:
![image](https://user-images.githubuser

[2021-12-07 11:52] ronf6co commented on #1338
also here:
![image](https://user-images.githubusercontent.com/13406570/145024326-55b01b35-357c-4036-a3a0-1cb091ee7db1.png)

[2021-12-07 13:26] ronf6co commented on #1338
Actually, this is not a mistake, but there is a mathematical identity that is skipped.
It should be more clear

[2021-12-08 18:11] lockwo commented on #1331
For the full tutorial rewrite, would it be good to incorporate the tools from Qiskit nature, or is the goal for these to just use the 'base' Qiskit?

[2021-12-10 12:07] quantumjim opened #1339 "Citing the textbook"
### Describe the problem

I can't find a guide to citing the textbook or a doi, as there are for other parts of Qiskit. For example, the Authors and Citation guide here
https://github.com/Qiskit/qiskit-terra/blob/main/README.md

### Describe the expected solution

Make a citation guide and doi. Include mention of the paper written on the textbook
https://ieeexplore.ieee.org/document/9605279

[2021-12-13 12:54] ronf6co opened #1341 "[ch-quantum-hardware] OR -> XOR"
### Describe the issue

In the file of [error-correction-repetition-code](https://qiskit.org/textbook/ch-quantum-hardware/error-correction-repetition-code.html#Graph-theoretic-decoding)
"It is therefore the bitwise OR of the syndrome..." It seems that OR is not correct

### Describe what you expect to see

I think that you were meaning XOR
Since if the syndrome is not changing, XOR between current

[2021-12-15 11:00] nareshraghava opened #1343 "[1-1.1] Introduction-New Qiskit Textbook beta"
### Describe the issue

In the Introduction of the new beta version of the Qiskit textbook the sentence after the quick exercise says that "But if you chose the second one, it shows...". This is not always correct because the order of options in the exercise gets shuffled.
![Qiskit-Introduction-Bug](https://user-images.githubusercontent.com/71033417/146173768-745f2df6-29b7-48ac-87ae-a2547607851b.j

[2021-12-15 12:57] divshacker commented on #1343
@frankharkins

[2021-12-16 09:34] StevenSchuerstedt opened #1344 "[4.1.3] concrete example how to construct ising hamiltonian for maxcut"
### Is your feature request related to a problem? Please describe.

In the appendix of the qaoa there is an explanation how to construct the problem hamiltonian for a combinatorial optimization problem. I think there are a lot of new concepts introduced in short time and it makes it hard to understand how to construct a hamiltonian and how it relates to the original optimization problem.
For me it

[2021-12-18 20:36] oevers opened #1345 "[1.3]"
### Describe the bug

Importing the state_vector_exercise results in an error

Results in the following:

### To Reproduce

Run the textbook in anaconda in an environment with qiskit and the textbook installed as described here https://qiskit.org/textbook/ch-prerequisites/setting-the-environment.html

### Expected behavior

widget should come up without errors

### Version info

<h3>Version Inform

[2021-12-23 15:02] plancker opened #1349 "[2.4.3] CZ/CY instead of CNOT"
## Describe the Issue

1. In section 2.4.3 on Controlled Rotations, the line "A controlled R_x(θ) could similarly be made using CNOT gates." seems incorrect.
2. I assume that the line claims that replacing R_y(θ/2) by R_x(θ/2) (similarly for the -θ case), in the circuit above, we would get a controlled R_x(θ). This is incorrect.
3. Passing |1> through q_0, we get X R_x(-θ/2) X R_x(θ/2)q_1, for q_1

[2021-12-29 15:32] 1ucian0 commented on #1331
I think this issue can be closed if Aqua is removed (I think #1347 does that). A rewrite could be a follow up.

[2021-12-30 23:21] gramolin commented on #1349
A controlled R_x(π) gate can be obtained using two CNOT gates as follows:
![image](https://user-images.githubusercontent.com/8160203/147792622-675d01d2-af81-4d80-8b85-94b6af61037f.png)
For an arbitrary rotation angle θ, i.e. for the gate R_x(θ), replace R_y(±π/2) with R_y(±θ/2).

It is shown in section 2.4.3 how to implement an arbitrary controlled-V gate using two controlled-Z gates and single-qu

[2022-01-04 11:12] Beattion opened #1352 "Translate the textbook into Chinese"
### Describe the problem

No official Chinese version.

### Describe the expected solution

I would like to help translate it into Chinese.

[2022-01-04 13:08] #1317 closed

[2022-01-04 21:28] mariandumitrascu commented on #1334
I had the same error and upgrading matplotlib to 3.5.1 fixes it.
You should do:

pip install -U matplotlib --prefer-binary

[2022-01-06 19:48] bopardikarsoham commented on #1352
@Beattion The Chinese translation of the Qiskit Textbook is currently in progress.
More information about joining the Qiskit translation team can be found here:https://github.com/qiskit-community/qiskit-translations

[2022-01-07 07:13] bopardikarsoham commented on #1318
I would like to work on this issue @frankharkins

[2022-01-07 08:54] divshacker commented on #1318
[code]
I suppose it should be

[code]

[2022-01-10 12:14] accursoft opened #1357 "Cannot run any examples in section 1.4"
### Describe the bug

After pressing any *try* button, it gets stuck in "Waiting for kernel...".

### To Reproduce

Press the *try* button in a code example.

### Expected behavior

Code is run.

### Version info

can't run

### Additional context

Dev tools shows an error `The '6novenvpy3810' kernel is not available. Please pick another suitable kernel instead, or install that kernel.`

[2022-01-10 13:30] bopardikarsoham opened #1358 "Code not rendered properly in Beta Version of Qiskit Textbook Chapter - 6.7 Hamiltonian Tomography"
### Describe the bug

Bugs:-
1) The heading "Fitting Functions" has a typo.
2) In this notebook, equations do not appear to be rendered correctly.

Such errors do not exist in the older version of Qiskit Textbook, but they do exist in the beta version.

### To Reproduce

Changes to this notebook might fix the problem: https://github.com/qiskit-community/qiskit-textbook/blob/main/content/ch-quantum

[2022-01-10 14:37] jwoehr commented on #1357
Hmm, I can't get any example to run in any chapter I have tried.

[2022-01-11 10:12] bopardikarsoham commented on #1352
This issue can be closed now.

[2022-01-12 22:07] #1352 closed

[2022-01-14 09:11] divshacker commented on #1331
The problem can't be fixed by just changing some of the minor syntax. We need to write code from scratch as there are many changes Qiskit nature which we need to implement in the textbook chapter to make the code compatible to the latest new release.
I have discussed some of the problems with @woodsp-ibm So it will be better if he also explain what problems we are facing.

[2022-01-14 15:50] woodsp-ibm commented on #1331
Really the main difference is around creating the qubit operator from the molecule as Nature does things a bit different. In Nature you have a driver as before but now there is an ElectronicStructureProblem that builds out the second_q_ops for you which can then be converted to qubit operators using a QubitConvertor. The orbital reduction has been replaced by an ActiveSpaceTransformer and FreezeCo

[2022-01-17 10:44] j125330 opened #1360 "Lab 7. Quantum Simulation as a Search Algorithm"
### Describe the issue

In Part 1: Hamiltonian Simulation the Time evolution operator is exp(-i x Theta x (|0><0| + |+><+|)). In the follwing sections the circuits are constructed from the operators H1 and H2 which are H1 = exp(-i x Theta x (|0><0|) and  H2 = exp(-i x Theta x ( |+><+|)). But I think the evolution operator is not equal to H1 x H2 because |0><0| and  |+><+| do not commute. And therf

[2022-01-17 18:52] GiantToast opened #1361 "Wrong Code in Textbook Beta: Entangled States - The Power of Entanglement"
### Describe the issue

Book Section: https://learn.qiskit.org/course/introduction/entangled-states#entangled-29-0

While working through the code presented when it first introduces entanglement for encoding messages, I was getting the wrong results when trying the following code from the textbook (multiple sections combined):

[code]

This works for the "00" case, but for cases where the digits a

[2022-01-19 23:22] norkish commented on #675
[single-qubit-gates-cheat-sheet.pdf](https://github.com/qiskit-community/qiskit-textbook/files/7901140/single-qubit-gates-cheat-sheet.pdf)

[2022-01-20 11:45] iR150463 opened #1362 "[4.1.3] Content error in the section "The QAOA circuit""
### Describe the issue

Book Section: https://qiskit.org/textbook/ch-applications/qaoa.html#The-QAOA-circuit

In QAOA - The QAOA circuit, I noticed the circuits were appended to the main circuit with the wrong order,

[code]
and the wrong circuit were displayed:
![image](https://user-images.githubusercontent.com/51822951/150329911-cbe8f030-1cd7-4c65-9f11-02110005bb43.png)

### Describe what you ex

[2022-01-21 15:35] dimple12M commented on #675
@frankharkins
Kindly, find the cheatsheet for single qubit gates.
[Single_Gates_Cheatsheet.pdf](https://github.com/qiskit-community/qiskit-textbook/files/7914840/Single_Gates_Cheatsheet.pdf)

.

[2022-01-25 13:15] plancker commented on #1349
Hi, Sorry about the late comment.

I agree with you that the circuits you provided do indeed give the controlled Rx.

But my issue is about the specific phrasing of this sentence "This method works because the x and y axis are orthogonal, which causes the x gates to flip the direction of the rotation. It therefore similarly works to make a controlled Rz(θ). A controlled Rx(θ) could similarly be ma

[2022-01-25 16:16] plancker opened #1365 "[3.4] Modification to increase clarity"
### Describe the issue

The issue is more about readability and clarity rather than inaccuracy. The line "Measuring the first register will give an output only if: " is slightly confusing. The measurement will always give an output. I realize that the book wants to convey that most of the terms will cancel, so we can obtain the state |z> only if the given condition holds.

I realize that this migh

[2022-01-27 15:12] frankharkins commented on #1318
Closed via #1355

[2022-01-27 15:12] #1318 closed

[2022-01-31 12:54] paniash commented on #1365
Hi! I understand that you're being pedantic about it but I think the sentence is already clear as it is. It is indeed true that you will get **any** output only if the given condition is satisfied.

[2022-01-31 12:57] paniash commented on #1338
Hi! If you'd like, make a PR for the steps that you think are missing. :-)

For now, I am closing this issue.

[2022-01-31 12:57] #1338 closed

[2022-01-31 12:59] paniash commented on #1334
Hi @wanihakse! Looks like @mariandumitrascu has solved your issue. Nevertheless, I would recommend installing packages in a virtual environment, it generally avoids such issues.

[2022-01-31 12:59] #1334 closed

[2022-01-31 15:40] paniash commented on #1358
Hi! For any issues related to the beta textbook, please report it in the issue tracker at https://github.com/qiskit/platypus.

I'm closing this for now.

[2022-01-31 15:40] #1358 closed

[2022-02-01 07:23] plancker commented on #1365
What happens if I measure in the case, where this condition isn't satisfied?

[2022-02-02 19:15] dwvisser opened #1367 "README should include detailed instructions for building/running site locally[]"
### Describe the problem

I am having trouble setting up the correct Ruby environment to build the site using the `build.sh` script. Some guidance on versions, etc., would be helpful.

### Describe the expected solution

The README would have steps to install an appropriate version of ruby/bundler, and any needed apt/dnf packages, before running `bundler install` and the build script, and give som

[2022-02-06 04:37] nkongsuwan opened #1369 "Inconsistent label in the example of the HHL Tutorial"
### Describe the issue

In Example: 4-qubit HHL, the labels 1 and 2 for the eigenvalues and eigenvectors are inconsistent.
https://qiskit.org/textbook/ch-applications/hhl_tutorial.html

### Describe what you expect to see

|u1> should have lambda1 = 4/3 and |u2> should have lambda2 = 2/3.

[2022-02-07 15:57] 4erf opened #1371 "[1.4] Terms 'axis' and 'basis' are mixed up"
### Describe the issue

At the beginning of section _4. Digression: Measuring in Different Bases_ we can see the following text:

### Describe what you expect to see

I feel instead of the `Z-axis` it was meant to refer to the `Z-basis`, as the topic of discussion is gates & bases, and at the end of the sentence we can see the following reference to bases:

We can see a reference to the `Z-basis`

[2022-02-07 17:30] 4erf opened #1372 "[1.4] 'bloch' misspelled as 'block'"
### Describe the issue

At the end of section _7. The U-gate_ we can see the following sentence:

### Describe what you expect to see

`Bloch` is misspelled as `Block`.

[2022-02-09 18:50] suryanshsrivastava opened #1374 "[ch-algorithms/Grover's Algorithm] 3.1.2 and 2.1.2"
### Describe the bug

[code]
gives

`TypeError: '>=' not supported between instances of 'str' and 'int'`

### To Reproduce

1. Load IBM Q account
[code]
2. Run the code example in section 2.1.2 Experiment with Real Devices and 3.1.2 Experiment with Real Device.

### Expected behavior

Loads IBM Q account. Gets the least busy backend device
and prints for example `Running on current least busy devi

[2022-02-09 18:53] suryanshsrivastava commented on #1374
Can be fixed by typecasting `x.configuration().n_qubits` inside the lambda function as:
[code]

[2022-02-11 09:57] ptrcklv commented on #1360
You are right, exp[i*theta*(A+B)] != exp(i*theta*A)exp(i*theta*B). Basically that's Trotter's approximation. The error vanishes with O(theta**2).
Would this be what you expect to find? I personally also think it makes sense to mention that briefly in a sentence and refer to "Trotter approximation" or something like that for everyone who wants more details.

[2022-02-12 05:46] j125330 commented on #1360
Thx for your Feedback. Yes, that would help a lot.

[2022-02-15 13:28] Morcu opened #1379 "Quantum Machine Learning Course"
### Describe the issue

There are several broken links:

1. Parametrized quanum circuits --> [Parameterized quantum circuits for machine learning](https://learn.qiskit.org/course/machine-learning/parameterized-quantum-circuits#parameterized-16-0) --> Try it --> [IBM Quantum Lab](https://learn.qiskit.org/course/machine-learning/quantum-computing.ibm.com/lab)
2. Training parameterized quantum circui

[2022-02-27 13:46] hritiksauw199 commented on #695
I have developed solutions for all unsolved questions.
If there are any mistakes or issues please let me know.

https://github.com/hritiksauw199/Qiskit-textbook-solutions.git

[2022-02-28 12:49] paniash commented on #1371
@4erf Hi! Thanks for pointing this out. I agree that it should be `Z-basis` instead.

[2022-03-04 09:46] E-Deer opened #1390 "[6.1] Calibrating Qubits with Qiskit Pulse"
### Describe the issue

In _4.1 Measuring the qubit Frequency Precisely using a Ramsey Experiment_  the definition for `ramsey_frequency` is

`ramsey_frequency = round(rough_qubit_frequency + detuning_MHz * MHz, 6)`

And then to calculate `precise_qubit_freq` the code reads:

`precise_qubit_freq = rough_qubit_frequency + (del_f_MHz - detuning_MHz) * MHz `.

### Describe what you expect to see

Her

[2022-03-08 06:30] divshacker commented on #1379
This issue belongs to [Qiskit/platypus](https://github.com/Qiskit/platypus)
Please reopen this issue there

[2022-03-10 06:51] BStar14 opened #1394 "A new chapter on a hidden shift problem"
### What should the reader gain from this new content?

The hidden shift problem relates to the dihedral hidden subgroup problem, just as the factorization relates to the abelian hidden subgroup problem. The algorithm on a boolean function shows exponential speedup on query complexity, while the generalized algorithm on an integer function shows superexponential speedup. We can widely employ conce

[2022-03-14 10:33] frankharkins commented on #1394
Thanks for making an issue. For context, we've discussed this via Slack ([link](https://qiskit.slack.com/archives/C024ELK40TW/p1646896122518039)).

[2022-03-14 10:34] frankharkins commented on #1379
Thank you! Closed via https://github.com/Qiskit/platypus/pull/795

[2022-03-14 10:34] #1379 closed

[2022-03-15 11:18] #1390 closed

[2022-03-16 07:06] TrainerBlade opened #1395 "[1.4] U-gate matrix representation typo"
### Describe the issue

In the beginning of [section 7. *The U-gate*](https://qiskit.org/textbook/ch-states/single-qubit-gates.html#7.-The-U-gate--),
the element on the first row and the second column of the matrix has the wrong exponential parameter.

### Describe what you expect to see

the exponent should be `\phi`, not `\lambda`.

[2022-03-24 07:20] TrainerBlade opened #1399 "[3-6] formula typo"
### Describe the issue

In the last equation (or quantum process) in [section 3](https://qiskit.org/textbook/ch-gates/oracles.html#3.-Taking-Out-the-Garbage-), on the left hand side, the last register is typed 0.

### Describe what you expect to see

It should be $\ket{x, f(x), g(x), f(x)}$ instead of $\ket{x, f(x), g(x), 0}$.

[2022-03-30 04:26] Yufan121 opened #1401 "[2.3] CNOT |-+>should still = |-+>, Maybe you mean CNOT|+-> = |-+>?"
### Describe the issue

<img width="923" alt="image" src="https://user-images.githubusercontent.com/63897006/160751129-2e3ba0bf-0f51-4a54-acfe-d4f478360162.png">

### Describe what you expect to see

[2.3] CNOT |-+>should still = |-+>, Maybe you mean  CNOT|+-> = |-+>?
Found through learning

[2022-03-30 04:54] #1401 closed

[2022-04-12 03:04] alan23273850 opened #1405 "[3.5.4] The Quantum Fourier transform (difficult to understand)"
### Is your feature request related to a problem? Please describe.

The original derivation relies on binary expansions only from texts instead of from figures. I personally think it difficult to understand, so I've found another YouTube [video](https://www.youtube.com/watch?v=zzUMn3ykey8&t=776s), which supplements this part. And I hope it would improve the original content.

### Describe the solu

[2022-04-13 06:42] alan23273850 opened #1406 "[3.6.1.2] Quantum Phase Estimation - Mathematical Foundation"
### Is your feature request related to a problem? Please describe.

The explanation of phase kickback in controlled-U gates is not very clear.

### Describe the solution you'd like

I suggest to derive it from the definition of controlled U-gates as explained on [Wikipedia](https://en.wikipedia.org/wiki/Quantum_logic_gate#Controlled_gates),
![image](https://user-images.githubusercontent.com/100440

[2022-04-20 12:09] frankharkins commented on #1361
Closing this as duplicate of https://github.com/Qiskit/platypus/issues/903

[2022-04-20 12:09] #1361 closed

[2022-04-25 16:42] Anantha-Rao12 opened #1409 "[3.10.2] New section on continuous time quantum walks"
### Is your feature request related to a problem? Please describe.

Chapter 3.10 provides a very concise description of quantum walks and then goes on to implement a search algorithm using quantum phase estimation with the Szedgedy quantum walk. However, not much is mentioned about the two main types of quantum walks that are used in algorithm development, namely:
1. Discrete-time quantum walks (c

[2022-04-26 11:30] #1394 closed

[2022-05-09 15:54] Gopal-Dahale opened #1422 "New Section on Brassard Hoyer Tapp (BHT) Algorithm"
### What should the reader gain from this new content?

After reading this chapter, the student will understand the application of Grover's search in finding collisions in cryptographic hash functions. The student will learn how efficient this is and also its limitations. The student will understand that not every quantum algorithm described is the best suitable and sometimes classical algorithms

[2022-05-13 14:24] woodsp-ibm opened #1423 "[4.1.4] Bug in Verifier code"
### Describe the bug

https://qiskit.org/textbook/ch-applications/satisfiability-grover.html

Copying the code out to a file, and creating a dimacs file from the SAT given there fails as follows

[code]

See here where it was reported https://stackoverflow.com/questions/72190973/boolean-n-sat-compatibility-issue

### To Reproduce

Copying the code out to a file, and creating a dimacs file from the

[2022-05-17 07:31] agnel commented on #1041
@navaneethsdk You are right. I was struggling to understand the exercise question that was asking to compute other bell state. I had to go through [Quantum Computation Construction of the Bell’s four states notes from Department of Physics, SUNY at Binghamton](https://bingweb.binghamton.edu/~suzuki/QuantumMechanicsFiles/11-1_Quantum_computation_I_Overview.pdf) and [Bell State wiki on Qunatiki](htt

[2022-05-17 11:30] tansaku commented on #1309
I am finding this section confusing, specifically what it means to "execute" the circuit:

[code]

this code introduced two new parameter calls which might be explained - I now caught up from the docs:

https://qiskit-test.readthedocs.io/en/latest/api/qiskit.circuit.QuantumCircuit.html

         QuantumCircuit(4, 3) # A QuantumCircuit with 4 qubits and 3 classical bits

Measure quantum bit into cl

[2022-05-17 11:32] tansaku commented on #1309
ah, I see it does ...
![Screenshot 2022-05-17 at 12 31 52](https://user-images.githubusercontent.com/30216/168801323-e657ef44-a7ed-4fa5-95fb-464947c46e33.png)

[2022-05-17 11:33] tansaku commented on #1309
but any particular reason to use `measure(qbit_id, classical_id)` instead of `measure_all` here?

[2022-05-18 16:28] taketakeyyy opened #1424 "[3.4] An image of the Japanese version is wrong."
### Describe the issue

An image of Simon's algorithm in the Japanese version does not match the description.

Corresponding page:
https://qiskit.org/textbook/ja/ch-algorithms/simon.html#%E9%87%8F%E5%AD%90%E7%9A%84%E3%81%AA%E8%A7%A3%E6%B3%95

### Describe what you expect to see

The image of the Japanese version is below.

https://github.com/qiskit-community/qiskit-textbook/raw/55d1ba6d2bb5ef38b1e

[2022-05-21 03:15] a-vanderbilt opened #1426 "Chapter 1: The atoms of computation"
### Describe the bug

The second code exercise in "Your first quantum circuit" does not run, because the "QuantumCircuit" module is not being imported. Adding `from qiskit import QuantumCircuit` to the code editor fixes the error.

### To Reproduce

Run the code in the editor.

### Expected behavior

The code should run and produce output demonstrating the code's functionality.

### Version info

[2022-05-21 15:09] a-vanderbilt opened #1427 "Chapter 1: Describing quantum computers. Tooltip transparency."
### Is your feature request related to a problem? Please describe.

In the beta version of the textbook, the opacity of the tooltips makes reading the text within them difficult when content is beneath the tooltip. I've attached images below.

### Describe the solution you'd like

Adjust the opacity of the `qv-tooltip` (main.css, line 1306) to be fully opaque, to enhance readability.

### Describe

[2022-05-28 14:10] Yuval-Toren opened #1432 "Calibrating qubits using Qiskit Pulse does not work as intended"
When I run the notebook there are two main things that do not work as intended:
1. manila does not support qiskit pulse, only Armonk works with it.
2. instead of getting the expected results I get what seems to be just noise as can be seen here: https://imgur.com/a/o8gUpTT

What can be done to fix this? thanks

[2022-05-30 10:01] Haemanth-V commented on #1426
Hey! So essentially each topic/section in a chapter say "The atoms of computation" is a Jupyter notebook and hence the code present in all the cells is run in the same(single) environment. It is stated clearly at the beginning of the Atoms of computation section that you will have to run the cell which contains all the imports(including that of QuantumCircuit) to be able to run the rest of the cod

[2022-05-31 13:08] HuangJunye commented on #1432
Having pulse access or not depends on your provider. The open provider only gives pulse access to Armonk. For other devices you can use [pulse gates](https://qiskit.org/documentation/tutorials/circuits_advanced/05_pulse_gates.html) That being said with Armonk getting sunset, we might want to update to notebook to use pulse gates so that all users can still run the same notebook with other systems.

[2022-06-01 01:17] Mostafa-Atallah2020 opened #1434 "New Section on Simulation of the 1D Schrodinger Equation"
### What should the reader gain from this new content?

By reading this section the reader should be able to simulate the one-dimensional Schrodinger equation for any position-dependent potential on quantum computers using a few numbers of qubits (six qubits or more). Also, he will be able to calculate the ground state energy eigenvalue for the quantum system under investigation. The results can b

[2022-06-01 08:56] kUmezawa commented on #1432
@HuangJunye @frankharkins Cc @nkanazawa1989
6-2 has been changed to manila and changed to Pulse Gate.
6-1 has not been changed to Pulse Gate, so I will fix it.
Similarly, modify 6-5 and 6-6 in the same way.

[2022-06-02 00:34] kUmezawa commented on #1432
@HuangJunye
Yes, of course, Thank you.

[2022-06-02 06:05] HuangJunye commented on #1432
I realized I do not have permission to assign. @frankharkins Could you please assign the issue to @kUmezawa ?

[2022-06-02 19:36] Mostafa-Atallah2020 opened #1435 "New Section on Quantum Copying"
### What should the reader gain from this new content?

By the No cloning theorem one cannot clone an arbitrary quantum state rather imperfect quantum copying exists. By training a parametrized quantum circuit over a set of parameters to optimize the Fidelity one can make a copy of an arbitrary quantum state with a Fidelity very close to 1.

### Where do you expect this new content to fit in with

[2022-06-04 19:07] pandasa123 commented on #1339
Hey James, I think this can be solved with an auto-generated `Qiskit_Textbook.bib` by the [Qiskit Bot](https://github.com/Qiskit/qiskit-bot) by collecting contributors from the [Qiskit Textbook repo](https://github.com/qiskit-community/qiskit-textbook) and the [Platypus repo](https://github.com/Qiskit/platypus)?

@javabster, any ideas how to do this?

[2022-06-07 09:16] #1374 closed

[2022-06-07 11:03] frankharkins commented on #1374
Closed via #1375

[2022-06-16 18:20] InfamousPlatypus opened #1440 "3.1.5"
### Is your feature request related to a problem? Please describe.

3.1.5 has an unclear section. It says
"When we measure the qubit, we collapse its state and destroy a lot of the information. Since all measurement does is destroy information, we can in theory always measure last and lose no computational advantage. In reality, measuring early offers many practical advantages."

This feels like a

[2022-06-17 12:49] InfamousPlatypus opened #1441 "2.2.1"
### Describe the issue

Textbook calls a 1D-Vector 4D.
![Uploading 4d1dvec.png…]()

### Describe what you expect to see

I expected to see 1D vector. It should have four elements, not four dimentions.

[2022-06-22 10:22] seawee1 commented on #1367
Same issue here. But I'm almost there I think

1. Install the latest Ruby Devkit 2.6.5-1.
2. Run `gem.cmd install bundler -v 2.1.2`.
3. Change into the qiskit-textbook directory and run `bundle install`. On Windows, I had to delete the Gemfile.lock file first.
4. `bundle exec jekyll serve --baseurl "textbook"`

But then I get
`
[...]
 Incremental build: disabled. Enable with --incremental
      Ge

[2022-06-29 10:23] yoshioka1128 opened #1449 "[4.1.3] analytical formulas of the Japanese version is wrong"
### Describe the issue

In the last equations in section [5.2](https://qiskit.org/textbook/ja/ch-applications/qaoa.html#5.2-最適な試行状態のパラメーター-), the right hand side of f<sub>A</sub>, f<sub>B</sub>, and F<sub>1</sub> are incorrect.
Results that rely on this are also incorrect.

The modified formulas are as follows:
<img width="524" alt="eqfAfB" src="https://user-images.githubusercontent.com/88071178/1

[2022-06-29 15:08] yoshioka1128 commented on #1449
Here are the results of the modifications made to the figure of the probability vs cost.
before the correction
<img width="521" alt="before_probcost" src="https://user-images.githubusercontent.com/88071178/176470943-a376ce92-84b9-4443-8f03-5c816958a9a9.png">

after the correction
<img width="521" alt="after_probcost" src="https://user-images.githubusercontent.com/88071178/176471062-3abfb98b-451f-4

[2022-06-30 11:11] nquetschlich opened #1451 "[4.2.4] Travelling Salesman Problem with QPE: Error in the Hamiltonian Cycles"
### Describe the bug

https://qiskit.org/textbook/ch-paper-implementations/tsp.html#general_strategy

At the end of the "General Strategy" Section, all three Hamiltonian cycles are listed as:
Sequence path | Eigenstates
-- | --
1−2−3−4 |\|11000110 ⟩
1−4−2−3 |\|10001101 ⟩
1−3−2−4 |\|11001001 ⟩

I think that the last two sequences describe the same Hamiltonian cycle, because a Hamiltonian Cycles end

[2022-07-05 22:05] DenVitko opened #1453 "Fix Wikipedia link by escaping brackets"
### Describe the problem

See the page about density matrix, [part Trace and Positivity Conditions](https://qiskit.org/textbook/ch-quantum-hardware/density-matrix.html#Trace-and-Positivity-Conditions-)

---
Its trace must be equal to one:

Remembering that the [trace of a matrix](https://en.wikipedia.org/wiki/Trace_(linear_algebra)) (denoted as Tr) is the sum of its diagonal terms, we have:

### D

[2022-07-05 22:20] divshacker commented on #1453
Hey @DenVitko
Thanks for reporting this.
Making a pull request is really easy. When you open a [Github repo](https://github.com/qiskit-community/qiskit-textbook) of qiskit textbook You will see a option of forking it. Just fork the repo. Make a new branch then change the files to fix this issue and then commit that then open a pull request. It's very easy.
[This](https://docs.github.com/en/pull-re

[2022-07-09 16:51] Hirmay commented on #655
So sorry I forgot about this. At that time, I got covid and then had some pending academic stuff, so it slipped out of my mind.

I have provided some questions below, and please go through them. I would appreciate any feedback you have regarding this!

1. Does the phase inversion operation matrix is itself the inverse?
**Yes**
No
Explanation: The phase inversion operator flips the phase of the mar

[2022-07-15 19:39] mkselvan opened #1456 "[5.3] Randomized Benchmarking"
### Describe the issue

https://qiskit.org/textbook/ch-quantum-hardware/randomized-benchmarking.html#

I think, there is typo in the section 5.3 Randomized Benchmarking.

In the subsection "Intuition behind RB (5.3.3)", in the equation defining twirl, "equal to ($=$)" symbol is missing and the summation index must be $U \in G$ not $u \in G$.

### Describe what you expect to see

I think, it should

[2022-07-17 00:20] rht commented on #335
Fixed in https://github.com/Qiskit/qiskit-terra/pull/6971.